
html {
    /*font-family: "Roboto", sans-serif;*/
  }
  
  tr {
    border-bottom: 0 !important;
  }
  
  .form {
    padding-top: 0;
  }
  
  .margin-bottom {
    margin-bottom: .75rem;
  }
  
  .full-width-3 {
    min-width: 30%;
    max-width: 100%;
    /*padding-left: 1.9rem !important;*/
  }
  
  .flex {
    display: flex;
  }
  
  .dropshadow {
    -webkit-box-shadow: 0 2.5rem 1.75rem -2.5rem rgba(0,0,0,0.35);
    -moz-box-shadow: 0 2.5rem 1.75rem -2.5rem rgba(0,0,0,0.35);
    box-shadow: 0 2.5rem 1.75rem -2.5rem rgba(0,0,0,0.15);
  }
  
  .subtotal-header {
    position: relative;
    width: 100%;
  }
  .subtotal-header div:first-child {
    float: left;
  }
  
  #top-panel-small > .collapsible {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    width: auto;
    box-shadow: none;
    margin: 0;
  }
  #left-panel {
    padding: 0 1.75rem 0 0;
  }
  
  #right-panel {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(250,250,250,1)), color-stop(82%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(250,250,250,1) 0%, rgba(255,255,255,1) 82%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff', GradientType=1 );
    box-shadow: 1px 0 0 #e1e1e1 inset;
    padding: 0 0 0 1.75rem;
  }
  
  .no-margin {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
  
  .no-padding {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  
  .left-padding {
    padding-left: .25rem;
  }
  
  .left-float {
    float: left !important;
  }
  
  .right-float {
    float: right !important;
  }
  
  .clear {
    clear: both;
    padding-top: 1rem;
  }
  
  .center-float {
    float: right;
  
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
  }
  .center-float > .child {
    position: relative;
    left: 50%;
  }
  
  .back-to-link-wrapper {
    margin-top:1rem;
    /*width:48%;*/
    display: inline-block;
    cursor: pointer;
  }
  
  .back-to-link {
    fill: #039be5;
    transition: all 0.2s cubic-bezier(0.3, 0, 0, 1);
    margin: 0 .25rem 0 .25rem;
    padding: 0 !important;
  }
  .back-to-link:hover {
    fill: #0385C5;
    color: #0385C5;
    transition: all 0.2s cubic-bezier(0.3, 0, 0, 1);
    margin: 0 !important;
  }
  
  .btn-full {
    width: 100%;
  }
  
  #main-content .card {
    box-shadow: none;
    border-bottom: 1px solid #ddd !important;
  }
  
  .modal-content .card  {
    background: none;
    border: none;
    box-shadow: none;
  }
  
  .icon-order-blocked-cart {
    background-image: url('/gen4/img/steps/icons/cart_error.png');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 1.25rem;
    margin-left: 0.35rem;
    opacity: 0.5;
  }
  
  .bottom-standoff {
    padding-bottom: 20rem;
  }
  
  #eoline {
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    border: 0px solid;
    z-index: 1;
  }
  
  /* ----- Spinner ----- */
  /* Kudos to: https://github.com/tobiasahlin/SpinKit */
  .sk-wave {
    margin: 20px auto;
    width: 80px;
    height: 50px;
    text-align: center;
    font-size: 10px; }
    .sk-wave .sk-rect {
      background-color: #525252;
      height: 100%;
      width: 7px;
      display: inline-block;
      -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
      animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
    .sk-wave .sk-rect1 {
      -webkit-animation-delay: -1.2s;
      animation-delay: -1.2s; }
    .sk-wave .sk-rect2 {
      -webkit-animation-delay: -1.1s;
      animation-delay: -1.1s; }
    .sk-wave .sk-rect3 {
      -webkit-animation-delay: -1s;
      animation-delay: -1s; }
    .sk-wave .sk-rect4 {
      -webkit-animation-delay: -0.9s;
      animation-delay: -0.9s; }
    .sk-wave .sk-rect5 {
      -webkit-animation-delay: -0.8s;
      animation-delay: -0.8s; }
    .sk-wave .sk-rect6 {
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s; }
    .sk-wave .sk-rect7 {
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s; }
    .sk-wave .sk-rect8 {
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s; }
  
  @-webkit-keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4); }
    20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); } }
  
  @keyframes sk-waveStretchDelay {
    0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4); }
    20% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1); }
  }
  
  /* -----  Topbar  ----- */
  
  .top-bar {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,205,205,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(205,205,205,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,205,205,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,205,205,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,205,205,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(205,205,205,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cdcdcd', GradientType=0 );
  
    align-items: center;
    justify-content: center;
  }
  
  .top-bar > .container {
    padding: 10px 0;
  }
  
  .top-bar > .container.genf20 {
    text-align:center;
  }
  
  .top-bar > .container.genf20 > .phoneOrder {
    display:inline-block;
  }
  
  .top-bar > .container .hide-on-small-only.phoneOrder {
    margin: 0;
  }
  
  .top-bar > .container .clear {
    padding: 0;
  }
  
  .top-bar.leh {
    background: #4E8735;
  }
  
  .top-bar.leh .ssl-badge-nav {
    margin: 10px 0;
  }
  
  .top-bar.dark {
    background: #333;
  }
  
  .top-bar.skinception {
    background:#de1127;
  }
  
  .top-bar-img-left {
    float: left;
    margin: 0;
  }
  .top-bar-img-right {
    float: right;
    margin: 0;
  }
  
  .top-bar.dark span.reg {
    color: #fff;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
  }
  
  .skinception .top-bar-img-left {
    margin:0.25em 0;
  }
  
  .call-to-order-wrapper {
    padding: .25rem .2rem .2rem .2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .call-to-order-wrapper-mobile {
    padding: 0;
    margin: 0;
    align-items: right;
    justify-content: right;
    text-align: right;
  }
  .call-to-order-wrapper span.order,
  .call-to-order-wrapper a {
    color: #ffffff;
    font-size: 1.1rem;
    padding: .1rem .3rem .1rem 0;
    background-color: #d11710;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin: 0 0.25rem;
  }
  .call-to-order-wrapper-mobile span,
  .call-to-order-wrapper-mobile a {
    color: #ffffff;
    font-size: 1.1rem;
    padding: .1rem .3rem .1rem 0;
    background-color: #d11710;
    text-decoration: none;
    font-weight: bold;
    text-align: right;
    border-radius: 5px;
  }
  
  .top-bar.skinception .call-to-order-wrapper-mobile span,
  .top-bar.skinception .call-to-order-wrapper-mobile a,
  .top-bar.skinception .call-to-order-wrapper span.order,
  .top-bar.skinception .call-to-order-wrapper a {
    background-color: #a72520;
  }
  
  
  .top-bar.booty .call-to-order-wrapper-mobile span,
  .top-bar.booty .call-to-order-wrapper-mobile a,
  .top-bar.booty .call-to-order-wrapper span.order,
  .top-bar.booty .call-to-order-wrapper a {
    background-color: #27ba3d;
  }
  
  .pCode {
    color: #000;
    font-size: 1.1rem;
    padding: 0;
    font-weight: bold;
  }
  
  .top-bar.dark .pCode,
  .top-bar.skinception .pCode {
    color: #fff;
  }
  
  .call-to-order-wrapper-mobile > .pCode {
    font-size: 0.85rem;
    padding: 0 0.25rem 0 0;
  }
  
  body.genf20 .call-to-order-wrapper span,
  body.genf20 .call-to-order-wrapper a,
  body.genf20 .call-to-order-wrapper-mobile span,
  body.genf20 .call-to-order-wrapper-mobile a {
    background-color: #017e00;
  }
  
  .links-wrapper {
    /*width: auto;*/
    align-items: center;
  }
  .links {
      /*display: flex;*/
      align-items: center;
  }
  .order {
    color: #FFF;
  
  }
  .phone-icon {
    line-height: 1.5;
    padding: 0 .1rem 0 .2rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .productCode {
    font-size: .8rem;
    text-align: center;
  }
  .productCode-mobile {
    font-size: .8rem;
    line-height: .85rem;
    padding-right: 10px;
  
  }
  .ssl-badge-nav {
    padding: 0;
    margin-left: 0.3rem;
  }
  
  #eoline {
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    border: 0px solid;
    z-index: 1;
  }
  
  /* ----- Breadcrumbs ----- */
  .crumbs {
  
    font-size: .85rem;
    color: rgba(0, 0, 0, 0.8) !important;
    line-height: .8rem;
    /*padding: .5rem 0 0 0;*/
  }
  .crumbs a {
    color: #039be5 !important;
    cursor: pointer;
  }
  .crumbs span {
    /*Hide breadcrumbs for mobile*/
    display: none;
  }
  .crumbs span:last-child:before {
    content: ' \2039 \00a0';
    color: #999;
  }
  
  @media all and (min-width: 601px) {
    .crumbs {
      padding: .5rem 0 .25rem 0;
      margin: 1rem 0 -1rem -.3rem !important;
    }
    .crumbs span {
      display: inline-block;
    }
    .crumbs span:after {
      content: '\203A';
      padding: 0 0.25em 0 0.5em;
      color: #999;
      font-size: 1.25rem;
      vertical-align: baseline;
    }
     .crumbs span:last-child:before {
      content: '';
    }
     .crumbs span:last-child:after {
      content: '\00a0';
    }
    .crumbs span a.active-breadcrumb {
      color: rgba(0, 0, 0, 0.8) !important;
      font-style: italic;
      cursor: auto;
    }
  }
  
  
  /* ----- Parallax ----- */
  .parallax img {
    max-height: 100%;
    display: inline-block;
  }
  
  .parallax-container {
    min-height: auto !important;
  }
  
  .parallax-container .container img, .parallax-container .container h5 {
    /*float: left;*/
    /*width: auto !important;*/
  }
  
  
  /* -------------------------- */
  /*   Left Panel Form Area     */
  /* -------------------------- */
  
  /* ----- Placeholder for PayPal button ----- */
  
  #paypal-express {
    margin: 1rem 1rem -1rem 1rem;
    display: inline-block;
  }
  
  #paypal-express-button {
    color: #002064;
    width: 100%;
    background-color: #ffc439;
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 100%);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.1);
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
    visibility: hidden;
    margin-top: -30px;
    height: 1px;
  }
  #paypal-express-button:hover {
    background-color: #ffb810;
  }
  #paypal-express-button:active {
    outline: -webkit-focus-ring-color auto 5px;
  }
  
  #paypal-express-button p {
    padding: 1rem 1rem 1rem 1rem !important;
    margin: 0 0 .5rem 0 !important;
  }
  
  /* ----- Overrides for PayPal button ----- */
  .paypal-button:focus {
    /* Actually overriding a materialized style here */
    background: none !important;
  }
  
  .paypal-button-tag-content {
    display: none !important;
  }
  
  .paypal-button-content {
    background: none !important;
  }
  
  .paypal-button-widget {
    display: none;
  }
  
  .paypal-button-img {
    height: 1.2rem;
    padding-right: 0;
    vertical-align: middle;
  }
  
  /* ----- Horizontal Rule for under PayPal button ----- */
  hr.or {
    border: 0;
    height: 1px;
    margin: .4rem;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  }
  
  .hr-or {
    display: inline-block;
    position: relative;
    top: -1.25rem;
    background: #fff;
    padding: 0 0.25rem;
    font-family: "gotham";
    font-style: italic;
  }
  
  hr.plain {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #E5E5E5, #949494, #E5E5E5);
  }
  
  /* ----- submit button media queries ----- */
  @media (max-width: 992px) {
    .submit-full-width {
      width: 100%;
    }
  }
  
  
  /* -------------------------- */
  /*    Shopping Cart Panel     */
  /* -------------------------- */
  table#cart, table#cart-mobile {
    margin-top: 2rem;
  }
  
  #top-panel-small .collapsible-body {
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
    padding-top: 0;
  }
  
  #cart-wrapper {
    padding-top: 1.5rem;
  }
  
  #cart-wrapper-mobile {
    width: 100%;
  }
  
  #cart-wrapper thead, #cart-wrapper-mobile thead {
    display: none;
  }
  
  #cart, #cart-mobile {}
  
  .cart-line-item > td {
    vertical-align: top;
    padding-top: 0 !important;
    padding-bottom: 1rem !important;
  }
  
  .product-price {
    width: 18% !important;
  }
  
  .cart-line-item-divider {
    padding:0;
  }
  
  .cart-line-total > td {
    vertical-align: top;
    padding-top: 0 !important;
    padding-bottom: 1rem !important;
    border-radius: 5px;
  }
  
  .freeshipping td.price {
    color: #e00;
    text-transform: capitalize;
    font-weight: normal;
  }
  
  .freeshipping td.subtotal-details {
    color: #e00;
  }
  
  .price-free {
    color: #42BC53;
    font-style: italic;
  }
  
  #discount-card-mobile, #discount-card {
    background-color: rgba(255, 255, 255, 1);
  }
  
  #cart-wrapper-mobile .coupon-wrapper .btn {
    height: 3.25rem;
    line-height: 3.25rem;
    margin: 1rem 0 0 0;
  }
  
  .container .row {
    margin-left: -0.4rem;
    margin-right: -0.75rem;
  }
  
  .row .coupon-wrapper .btn {
    height: 3.25rem;
    line-height: 3.25rem;
  }
  
  .totals-wrapper {
    margin-top: -1rem;
  }
  
  .row .totals-wrapper .btn {
    padding-left: 1rem;
    padding-right: 0;
    margin: 1.2rem 0 0 0;
    height: 3rem;
    width: 7rem;
    line-height: 3.25rem;
    text-align: left;
  }
  
  td.price {
    font-weight: bold;
    text-align: right;
    color: #757575;
    padding: 0 0.5rem 0 0 !important;
    vertical-align: top;
  }
  .subtotal-details {
    color: #757575;
    padding: 0 0 0 0.5rem !important;
    width: 100%;
  }
  
  .cart-subtotal-row {
    vertical-align: middle;
    /*padding: 0.25rem 0 0.25rem 0;*/
    padding: 0;
  }
  
  .ellipsis {
      position: relative;
  }
  .ellipsis:before {
      content: '&nbsp;';
      visibility: hidden;
  }
  .ellipsis span {
      position: absolute;
      left: 0;
      right: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }
  
  td.total-price {
    font-weight: bold;
    text-align: right;
    font-size: 1.25rem;
    vertical-align: top;
  }
  .product-image-cell {
    width: 18%;
  }
  .product-thumbnail {
    width: 4.2rem;
    height: 4.2rem;
    position: relative;
  }
  .product-thumbnail-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    z-index: 1;
    border: 1px solid #D7D7D7;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    background-color: white;
  }
  .product-thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
  }
  .product-thumbnail-quantity:empty {
    display: none;
  }
  .product-thumbnail-quantity {
    font-size: 0.75rem;
    font-weight: 800;
    white-space: nowrap;
    padding: 0.25rem 0.25rem;
    border-radius: 15px;
    background-color: rgba(100,100,100,0.75);
    color: #fff;
    position: absolute;
    top: -0.4rem;
    right: -0.5rem;
    z-index: 3;
    width: 25px;
    text-align: center;
  }
  .product-details {
    padding: 0 0 0 0.5rem !important;
    line-height: 1.1rem;
    width: 100% !important;
    float: left;
  }
  .product-name {
    font-size: 1.25rem;
    font-weight: 700;
    display: block !important;
    color: rgba(70,70,70,1);
    padding-top: .15rem;
  }
  .product-desc {
    font-size: 0.85rem;
    color: #6E6E6E;
    font-style: italic;
  }
  .product-price {
    text-align: right;
    vertical-align: top;
    line-height: 16px;
  }
  
  #cart-wrapper .cart-subtotal-row td {
    padding: 0 !important;
  }
  
  .overflow {
    white-space: pre-wrap;
    overflow: hidden;
  }
  .shipping-description {
    width: 100%;
  }
  
  #cart-wrapper-mobile .shipping-description {
    left: .5rem;
  }
  
  .sms-disclaimer {
    font-size: 0.7rem !important;
    line-height: 0.8rem !important;
    color: #999;
    margin-top: -2px;
  }
  
  .sms-disclaimer-box {
    margin-top: 15px;
  }
  
  .sms-disclaimer a {
    margin-top: -2px;
  }
  
  .coupon-text {
    font-style: italic;
    color: #4798CD;
  }
  
  .coupon-price {
    color: #E86666 !important;
  }
  
  .coupon-link {
    text-align: center;
    padding: 0 !important;
    margin: .75rem 0 -1rem 0 !important;
    display: inline-block;
  }
  
  .icon-remove-coupon {
    background-image: url('/gen4/img/steps/icons/cancel.png');
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 1.25rem;
    margin-left: 0.35rem;
    opacity: 0.5;
    cursor: pointer; cursor: hand;
  }
  
  .bonus {}
  
  tr.bonus span.product-name:after {
    content: " (bonus!)";
    color: green;
    font-size: 0.75rem;
    font-style: italic;
    margin-bottom: 1rem;
    vertical-align: middle;
  }
  
  tr.upsell span.product-name:after {
    content: " (extra!)";
    color: green;
    font-size: 0.75rem;
    font-style: italic;
    margin-bottom: 1rem;
    vertical-align: middle;
  }
  
  /* TODO: Tweak below based on requirements... */
  tr.upsell .product-thumbnail-wrapper {
    border: 1px solid #D7D7D7;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(38, 161, 201, 0.63);
    -moz-box-shadow: 0px 0px 10px 0px rgba(38, 161, 201, 0.63);
    box-shadow: 0px 0px 10px 0px rgba(38, 161, 201, 0.63);
    background-color: white;
  }
  
  /* -------------------------- */
  /*     Shipping Methods       */
  /* -------------------------- */
  
  #shipmethod .card .disclaimer p {
    padding: 0.75rem 0 0 0;
    font-size: 0.9rem;
    color: #777777;
  }
  
  .disclaimer {
    padding: 10px 0 10px 0;
  }
  
  .disclaimer p {
    padding: 0;
    font-size: 0.9rem;
    color: #777777;
  }
  
  .shipping-choice-base {
    color: rgba(0, 0, 0, 0.87);
  }
  .shipping-type {
  
  }
  .shipping-shipper {
  
  }
  .shipping-free {
    color: #FF0000;
  }
  .shipping-price {
    color: #000;
  }
  .shipping-tracking {
    color: #20780E;
  }
  
  label[for=accepted_ship_insurance] {
    font-weight: bold;
    color: #434343;
  }
  
  .shipping-statement {
  
  }
  
  /* -------------------------- */
  /*       Upsell Styling       */
  /* -------------------------- */
  
  /* -----Upsell Styling----- */
  
  .upsell-wrap {
  
  }
  
  .upsell-wrap > * {
    /*max-width: 33.333%;*/
    line-height: 1.5rem;
    margin-top: 0;
  }
  
  .read-more {
    position: relative;
    /*color: #34495e;*/
    text-decoration: none;
    padding: 0rem 0 .5rem 0;
    cursor: text;
  }
  .read-more .trigger {
    display: block;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    color: #2980b9;
    font-weight: bold;
  
    width: 100%;
    text-align: right;
    padding: 0 .5rem 0 0;
  }
  .read-more .content {
    position: relative;
    overflow: hidden;
    max-height: 88px;
    transition: max-height 750ms ease;
  }
  .read-more .content::before {
    content: '';
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    transition: opactiy 750ms ease, visibility 500ms ease;
  }
  .read-more.expanded .content {
    max-height: 600px;
  }
  .read-more.expanded .content::before,
  .read-more.expanded .trigger {
    opacity: 0;
    visibility: hidden;
  }
  
  /* -------------------------- */
  /*        Payment Area        */
  /* -------------------------- */
  
  .loading {
    margin-bottom: 5rem;
  }
  
  .inline-img {
    height:24px;
    margin: 0 0px -0.45rem 0;
    line-height: 1rem;
    padding-top: 0;
  }
  
  .material-icons.faded {
    opacity: 0.25;
  }
  
  #payment-credit, #payment-paypal, #billingAddressFields  {
    display: inline-block;
  }
  #payment-mail, #payment-fax, #payment-phone {
    display: none;
  }
  
  .payment-icons {
    margin: -.5rem .5rem -1rem 1rem;
    display: none;
  }
  
  .payment-icon-info {
    width: 48px;
    height: 30px;
  }
  .payment-icon {
    float: right;
    display: inline-block;
    width: 38px;
    height: 24px;
    margin: 0;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
  }
  
  .payment-icon-cc-visa {background: url('/gen4/img/core/cc_visa.svg')}
  .payment-icon-cc-mastercard {background: url('/gen4/img/core/cc_mc.svg')}
  .payment-icon-cc-discover {background: url('/gen4/img/core/cc_discover.svg')}
  .payment-icon-cc-amex {background: url('/gen4/img/core/cc_amex.svg')}
  .payment-icon-cc-paypal {background: url('/gen4/img/core/cc_paypal_alt.png');}
  
  .payment-icon-paypal-method {
    padding: .5rem 0 0 0;
  }
  
  
  #payment-method-credit #pay-method-error {
    display: none !important;
  }
  
  #payment-collapsible .collapsible-body, #billing-collapsible .collapsible-body {
    background-color: #F4F4F4 !important;
    padding: 0;
  }
  
  /*#payment-collapsible li { display: none; }*/
  
  /* Remove transparency from form fileds in shaded panels */
  #payment-collapsible input, #billingAddressFields input {
    background-color: #FFF;
  }
  
  
  .credit-card-statement {
    padding: 1rem !important;
    padding-right: 1.3rem !important;
    color: #777777;
    font-size: 0.9rem;
  }
  
  
  #main-content .collapsible {
    box-shadow: 0px 0px 10px #F3F3F3;
  }
  
  #main-content .collapsible-header {
    display: block !important;
  }
  
  #other-body {
    padding: 1rem !important;
  }
  
  label.block {
    display: block !important;
    cursor: pointer;
    /*pointer-events: none !important;*/
  }
  
  label[for=termsagree] {
    font-size: 1.25rem;
    font-weight: bold;
    color: #434343;
  }
  
  
  .guarantee-mobile .card.collapsible {
    /*margin-top: -1rem;*/
    /*border: none !important;*/
    border: 1px solid #ddd !important;
  }
  
  #terms-collapsible { margin-top: 2rem; }
  #terms-collapsible p { padding: 1rem; }
  #termsbox { padding: 0.5rem 0; margin: 0; }
  
  #gdpr-collapsible { margin-top: 2rem; }
  #gdpr-collapsible p { padding: 1rem; }
  
  
  /* -------------------------- */
  /*    Bottom/ Footer Area     */
  /* -------------------------- */
  
  .disclaimer-text p, .disclaimer-domestic-text p, .disclaimer-international-text p {
    /*font-size: .9rem;
    padding: 0 0 1rem .5rem;*/
    font-size: 0.9rem;
    padding: 0.25rem 0 0.25rem 0;
    margin: 0;
    font-weight: bold;
  }
  
  .disclaimers {
    margin: 2rem 0 0 0 !important;
    font-size: .85rem;
  }
  
  footer.page-footer {
    padding-top: 1rem;
    margin-top: 0 !important;
    font-size: .8rem;
  }
  .footer-copyright {
    height: 25px !important;
  }
  
  
  /* -------------------------- */
  /*        Modal Boxes         */
  /* -------------------------- */
  
  /* ----- discount/coupon code ----- */
  #modal-coupon-code {
    top: 10% !important;
    width: 60%;
    min-height: 50%;
    max-height: 90%;
  }
  
  .modal-content ul.coupon-list li a {
    /*color: red !important;*/
    color: #4798CD;
  }
  
  #mutual-arbitration-agreement, #money-back-guarantee, #privacy-policy, #terms-and-conditions {
    top: 5% !important;
  }
  
  #disclaimers .modal.modal-fixed-footer {
    width: 90%;
    height: 90%;
    max-height: 90%;
  }
  
  #ppo-offer  {
    top: 5% !important;
    max-width: 95% !important;
    max-height: 95% !important;
  }
  #ppo-offer .btn {
    margin-left: 1rem !important;
  }
  
  
  #print-preview  {
    top: 5% !important;
    width: 90%;
    height: 90%;
    max-height: 90%;
  }
  
  #print-preview [type="checkbox"]:not(:checked), #print-preview [type="checkbox"]:checked {
    position: inherit;
    left: 0px;
    opacity: 1;
  }
  
  .mdl_content {
    text-align: center;
  }
  
  #proc_progress p {
    text-align: center;
  }
  
  #proc_content p {
    text-align: center;
  }
  
  #alert-content-modal p {
    text-align: center;
  }
  
  
  /* -------------------------- */
  /*      Thank-You Page        */
  /* -------------------------- */
  
  #thankyou-orderNumberBox {
    font-size: 1.3rem;
    border-radius: 0px 7px 7px 7px;
    -moz-border-radius: 0px 7px 7px 7px;
    -webkit-border-radius: 0px 7px 7px 7px;
    border: 1px dashed #dbdbdb;
    padding: .5rem .2rem .5rem .2rem;
    background-color: #E8E8E8;
  
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  
    -webkit-box-shadow: 0px 0px 20px 0px rgba(240,240,240,1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(240,240,240,1);
    box-shadow: 0px 0px 20px 0px rgba(240,240,240,1);
  }
  
  #thankyou-orderNumber {
    font-size: 1.3rem;
  }
  
  .thankyou-address {
    color: #505050;
    border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-bottom: 1px dotted #DFDFDF;
    margin: 2rem .5rem 0rem .5rem;
  
    /*Dropshadow*/
    -webkit-box-shadow: 0px 14px 34px -22px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 14px 34px -22px rgba(0,0,0,0.2);
    box-shadow: 0px 14px 34px -22px rgba(0,0,0,0.2);
  
    /*Background styling*/
    background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(173,173,173,1) 20%, rgba(219,219,219,1) 23%, rgba(242,242,242,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(226,226,226,1)), color-stop(20%, rgba(173,173,173,1)), color-stop(23%, rgba(219,219,219,1)), color-stop(100%, rgba(242,242,242,1)));
    background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(173,173,173,1) 20%, rgba(219,219,219,1) 23%, rgba(242,242,242,1) 100%);
    background: -o-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(173,173,173,1) 20%, rgba(219,219,219,1) 23%, rgba(242,242,242,1) 100%);
    background: -ms-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(173,173,173,1) 20%, rgba(219,219,219,1) 23%, rgba(242,242,242,1) 100%);
    background: linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(173,173,173,1) 20%, rgba(219,219,219,1) 23%, rgba(242,242,242,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#f2f2f2', GradientType=0 );
  }
  
  .thankyou-address h5 {
    white-space: nowrap;
    font-size: 1.3rem;
    margin: .12rem 0 .5rem 0;
    line-height: auto;
  }
  
  .thankyou-address > div {
    padding:  .5rem 0 1rem 0;
  }
  
  #shipping-address {}
  
  #billing-address {}
  
  .thankyou .hide-on-med-and-up #cart-wrapper {
    padding-top: 0rem;
  }
  
  .thankyou .cart {
    min-width: 20rem;
    padding: 2rem;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    -moz-border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    -webkit-border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    border: 1px solid #C4C4C4;
  
    background-color: rgba(0, 0, 0, 0.08);
  
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.15);
  }
  
  .thankyou .cart-line-item-divider {
    padding: 0.2rem 0 0.25rem 0 !important;
    border-top: 0px dashed rgba(0,0,0,0.1) ;
  
  }
  
  .thankyou .coupon-wrapper {
    display: none !important;
  }
  
  .thankyou #guarantee-desktop {
    display: none;
  }
  
  #thankyou-append-content {}
  
  #thankyou-prepend-content {
    margin: 0.5rem 0 0 0;
    min-height: 0px;
  }
  
  #main-content.thankyou h4 {
      text-align:center;
  }
  
  /* -------------------------- */
  /* CSS Materialized Overrides */
  /* -------------------------- */
  
  /* Remove arrow incrementers within textbox */
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number] {
      -moz-appearance:textfield;
  
  }
  
  h5 {
    font-size: 1.5rem;
    font-weight: 300;
    padding: 0rem 0 0 .35rem;
    color: rgba(0, 0, 0, 0.9);
  }
  
  .btn, .btn-large {
    text-transform: none !important;
    padding: 0 1rem 0 1rem;
  }
  
  .row {
    margin-bottom: 0;
  }
  .submit-red {
    background-color: #d11710 !important;
    font-weight: 600;
    font-size: 1rem;
  }
  .submit-red:hover {
    background-color: #F21B13 !important;
  }
  
  .submit-big {
    background-color: #017e00;
  
  }
  .submit-big:hover {
    background-color: #29c828;
  }
  
  ul.browser-default {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  ul.browser-default li {
    list-style-type: initial;
  }
  
  .card-content {
    /*padding-top: 0.5rem !important;*/
  }
  
  .card .card-content .card-title {
    line-height: 1;
  }
  
  #top-panel-small .collapsible-header {
  background: rgb(254,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(237,237,237,1) 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(254,255,255,1) 0%,rgba(255,255,255,1) 49%,rgba(237,237,237,1) 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(254,255,255,1) 0%,rgba(255,255,255,1) 49%,rgba(237,237,237,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
  }
  
  .collapsible-header.active {
    /*border-bottom: 0;*/
  }
  
  .collapsible-header.active span.header-carat:after {
    /* triangle up */
    content: "\25b4";
  }
  .collapsible-header span.header-carat:after {
    /* triangle down */
    content: "\25be";
  }
  
  .collapsible-custom {
    box-shadow: 0px 0px 10px #F3F3F3;
    border: 1px solid #ddd !important;
    margin: 0.5rem 0 1rem 0;
  }
  
  
  .parallax-container {
    min-height: 120px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
  }
  .parallax-container .section {
    width: 100%;
  }
  
  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }
  
  input[type=text],input[type=password],input[type=number],input[type=email],input[type=tel] {
    display: block !important;
    -webkit-box-shadow: 0px 0px 0px 1px rgba(181,181,181,1) !important;
    -moz-box-shadow: 0px 0px 0px 1px rgba(181,181,181,1) !important;
    box-shadow: 0px 0px 0px 1px rgba(181,181,181,1) !important;
    /*-webkit-appearance: none !important;
    -moz-appearance: none !important;*/
    appearance: none !important;
    border-radius: 5px !important;
    padding: 15px 0 0 5px !important;
    margin: 0 !important;
    height: 2.25rem !important;
    font-size: 1.2rem !important;
  }
  
  input[type=text] + label,
  input[type=password] + label,
  input[type=number] + label,
  input[type=email] + label,
  input[type=tel] + label {
    top: 0.25rem;
    pointer-events: none;
  }
  input[type=text] + label.active,
  input[type=password] + label.active,
  input[type=number] + label.active,
  input[type=email] + label.active,
  input[type=tel] + label.active {
    top: 1.2rem;
  }
  
  input:not([type]) + label:after,
  input[type=text] + label:after,
  input[type=password] + label:after,
  input[type=email] + label:after,
  input[type=url] + label:after,
  input[type=time] + label:after,
  input[type=date] + label:after,
  input[type=datetime] + label:after,
  input[type=datetime-local] + label:after,
  input[type=tel] + label:after,
  input[type=number] + label:after,
  input[type=search] + label:after,
  textarea.materialize-textarea + label:after {
    display: block;
    position: absolute;
    top: -2.5rem;
    opacity: 0;
    transition: 0.2s opacity ease-out, 0.2s color ease-out;
  }
  
  .input-field {
    padding-left: 5px !important;
    margin-bottom: 0rem !important;
  
  }
  
  .input-field label {
    transition: none;
  }
  
  .input-field label.active {
    font-size: 1rem;
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
  }
  .input-field .prefix {
    top: 0.7rem;
    right: 0.25rem;
  }
  input:focus {
    box-shadow: 0px 0px 5px 0px rgba(0,5,255,0.5) !important;
    transition: all 2.5s !important;
  }
  
  .left-form-panel {
    padding-top: 0.75rem !important;
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
  }
  
  .right-form-panel {
   padding-left: .75rem !important;
  }
  
  #validation-errors {
    float: left;
    color: inherit;
    line-height: 1rem;
    margin: 0;
    padding: 0 0 0 0rem;
    width: 45%;
  }
  
  div[id$="-error"] {
    opacity: 1;
    font-size: 0.8rem;
    transition:all 1.3s ease;
    color: red;
  }
  
  @media screen and (min-width: 600px) and (max-width: 1080px)  {
    [type="checkbox"] + span:not(.lever):before,
    [type="checkbox"]:not(.filled-in) + span:not(.lever):after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0;
      width: 18px;
      height: 18px;
      z-index: 0;
      border: 2px solid #5a5a5a;
      border-radius: 1px;
      margin-top: 15px !important;
  
      -webkit-transition: .2s;
      transition: .2s;
    }
    .sms-disclaimer a {
      margin-top: -5px;
    }
  }
  
  /* ----- Select Boxes ----- */
  
  input[value="Salutation"],input[value="Choose your Province"],input[value="Choose your State"],input[value="Country"],input[value="Expiry Month"],input[value="Expiry Year"] {
    /*color: #9e9e9e;*/
  }
  
  input[id="select-dropdown"] {
    padding: 25px 0 0 5px !important;
  }
  
  input.select-dropdown {
    padding-left: 5px !important;
    margin-bottom: 1px !important;
  }
  .select-wrapper span.caret {
    top: 0px;
    right: 10px;
    padding: 8px 20px 0 5px;
    margin: 10px -15px 0 0;
    width: 5px;
    height: 25px;
    z-index: 1;
    pointer-events: none;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,0)), color-stop(25%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
  }
  
  .caret {
    margin: 0 0 -40px 0 !important;
    top: -35px !important;
    pointer-events: none !important;
    position: relative !important;
    z-index: 1 !important;
    float: right !important;
  }
  
  .select-wrapper input.select-dropdown {
    font-size: 1.2rem !important;
    height: 2.25rem !important;
    padding: 10px 0px 5px 5px !important
  }
  .select-wrapper input.select-dropdown.invalid {
    border-bottom: 1px solid red !important;
  }
  .select-wrapper + label {
    position: absolute;
    top: .2rem !important;
    font-size: 0.6rem  !important;
  }
  .dropdown-content li {
    line-height: 1rem !important;
    min-height: auto !important;
}
  .dropdown-content li span {
    padding: 5px 0 5px 5px !important;
    font-size: 1.2rem !important;
  }
  .check-ti{    font-size: 1.5rem;
    font-weight: 300;
    padding: 0rem 0 0 0.35rem;
    color: rgba(0, 0, 0, 0.9);}
    .col .row {
      margin-left: -0.75rem;
      margin-right: -0.75rem;
      margin: 0 !important;
  }
  .dropdown-content li:hover {
    background-color: #E4F2FF;
  }
  .dropdown-content li span:hover {
    background-color: #E4F2FF;
  }
  i + input {
    padding-left: 0 !important;
  }
  i {
    vertical-align: bottom  !important;
  }
  
  /* ----- Modal Styles (and overrides) ----- */
  .modal-content h1 {
    padding: 5px 0 5px 5px !important;
    font-size: 1.2rem !important;
  }
  .modal-content h2 {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 1.5rem;
  }
  .modal-content p {
    padding: 0.2rem 0 0.2rem 0;
  
  }
  .modal-content ul li{
    list-style: disc outside none;
    padding: 0.25rem;
    margin-left: 2rem;
  }
  .modal-content ol li{
    padding: 0.25rem;
    margin-left: 2rem;
  }
  
  #process_modal {
    border-radius: 10px !important;
    top: 40% !important;
  }
  
  #right-sub-panel { margin-top: 40px; }
  #right-sub-panel h4 { font-size: 1.3rem; margin: 0; }
  #right-sub-panel h5 { font-size: 1.4rem; margin: 0; }
  #right-sub-panel p { font-size: 0.9rem; margin: 5px 0 0 0; }
  #right-sub-panel .card {
    box-shadow: none;
  }
  
  /* --- Mail/Fax Styles --- */
  .mf_section_title { font-weight: bold; text-decoration: underline; }
  .mf_product_desc { text-align: left; }
  .mf_product_qty { text-align: center; }
  .mf_product_price { text-align: right; }
  
  img.guarantee-blast { margin: 0; padding-top: .5rem;}
  
  /*.coupon-link { display: none; color: #64BBE5 !important }*/
  .coupon-wrapper { display: none; }
  .discount-hide { display: none; }
  .tax-hide { display: none; }
  
  /* Activate the following styles to hide the savings numbers */
  .cart-line-item-savings { color: #F00; font-size: 0.8em; }
  .cart-line-discount-tag { color: #f90; font-weight: bold; }
  .total-savings-row { display: none; }
  .total-savings-wrapper { display: none; }
  #cart-wrapper.loaded .total-savings-wrapper {
    text-align: center;
    font-weight: bold;
    color: #E00;
    font-size: 1.5em;
    display: block;
  }
  #cart-wrapper.loaded .total-savings-wrapper p {
    margin: 10px 0 10px 0;
  }
  
  #euprivacypolicy { display: none; }
  #euprivacypolicy li { margin-left: 0; }
  #gdpr-collapsible { border-bottom: solid 1px #eee; }
  #gdpr-collapsible p { margin: 5px 0 0 0; }
  #insurance-mask { display: none; }
  
  #index-banner img {
    max-width:300px;
  }
  
  @media (max-width: 600px) {
    #left-panel {
      padding-right: .45rem !important;
    }
  
    .top-bar > .container.genf20 > .phoneOrder {
      display:block;
    }
    .sms-disclaimer a {
      margin-top: -5px;
    }
  }
  
  /* Easyship shipping methods */
  .tracking-icon { color: #090; position: relative; top: -3px; font-size: 18px; }
  #tracking-legend { font-style: italic; color: #999; text-align: center; }
  .es-price { color: #900; font-weight: bold;  }
  .es-day { color: #960; }
  .es-track {  }
  .es-desc { color: #999; font-size: 13px; }
  li.es-hidden { display: none; }
  #easyship-options { text-align: center; display: block; cursor: pointer; }
  .easyship-option-toggle { font-size: 18px; color: #999; }
  .options-icon { font-size: 16px; top: -2px; position: relative; }
  .es-free { font-style: italic; background: #fff30070; padding: 0 5px; border-radius: 5px; border: solid 1px #ccc9; }
  @media (max-width: 1080px) {
  }
  @media (max-width: 600px) {
  }
  
  #customer-product-message { border: dashed 1px #ca9d9d; padding: 5px; background: #ffb81030; margin-bottom: 15px; }
  #customer-product-message p { text-align: center; margin: 3px 0; }
  #sorry-no-ship { text-align: center; color: #900; }
  #special-platform-message { border: dashed 1px #ca9d9d; padding: 5px; background: #ffb81030; margin-bottom: 15px; }
  #special-platform-message p { text-align: center; margin: 3px 0; }
  #special-platform-message p.platform-list { color: #ccc; }
  #special-platform-message .leh { color: #090; font-weight: bold; }
  #special-platform-message a { font-family: Helvetica; padding: 0 5px; font-variant:small-caps; }
  #special-platform-message a:hover { text-decoration: underline; }
  
  /* normal-checkbox class to provide unstyled checkboxes */
  [type="checkbox"].normal-checkbox,
  [type="checkbox"].normal-checkbox:checked,
  [type="checkbox"].normal-checkbox:not(checked) {
    opacity: 1;
    display: inline-block;
  }
  [type="checkbox"].normal-checkbox+span::before,
  [type="checkbox"].normal-checkbox+span::after,
  [type="checkbox"].normal-checkbox:checked+span::before,
  [type="checkbox"].normal-checkbox:checked+span::after {
    display: none;
  }
  [type="checkbox"].normal-checkbox+span:not(.lever) {
    padding-left: 18px;
  }
  
  #av_modal, #av_modal_err { border-radius: 5px; max-width: 300px; }
  .av_modal_content { padding: 0; }
  .av_modal_content p { margin: 2px 20px 0px 20px; font-family: "Segoe UI"; }
  #av_address { width: 90%; margin: 10px auto; padding: 5px; background: #ececec; font-family: sans-serif; }
  #av_modal_title { text-align: center; font-family: "Segoe UI"; font-size: 16px; padding: 3px; background: #ccf5; }
  #av_buttons, #av_error_buttons { text-align: center; width: 280px; margin: auto; }
  a.av_button { margin: 0 10px 10px; 10px; font-size: 11px; border-radius: 5px; box-shadow: 2px 2px 2px #0005; }
  a#av_button_yes { float: right; width: 40%; background: #0be10b; padding: 5px; color: #000; }
  a#av_button_no { float: left; width: 40%; background: #ffb055; padding: 5px; color: #000; }
  .av_button_choice { font-family: "Segoe UI"; font-size: 24px; line-height: 22px; }
  #av_err_btn { text-align: center; margin: 3px 0 10px 0; }
  a#av_err_button { width: 120px; background: #0be10b; padding: 5px; color: #000; display: block; margin: auto; }
  
  #lang-select { margin: 10px 0 0 0; float: right; text-align: right; }
  #lang-select select { width: 100px; display: inline-block; line-height: 16px; height: 24px; padding: 0; text-align: center; margin: 0 10px; }
  #lang-select-mobile { margin: 10px 0 0 0; float: right; text-align: right; }
  #lang-select-mobile select { width: 100px; display: inline-block; line-height: 16px; height: 24px; padding: 0; text-align: center; margin: 0 10px; }
  .gen4lang_assets { display: none; }
  .gen4lang_asset_en {  }
  #sa_msg { font-family: 'gotham'; border: solid 1px #ccc; width: 90%; margin: 10px auto; padding: 15px; border-radius: 15px; background: #ffebb8; box-shadow: 1px 1px 1px #ccc; display: none; }
  #sa_msg p { margin: 0; }
  #ship_disclaimer { margin: 5px; text-align: center; font-family: sans-serif; font-weight: normal; color: #353384; font-size: 0.9em; }