
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap');
@font-face {
    font-family: 'gotham';
    src: url('../fonts/GothamBold.eot');
    src: url('../fonts/GothamBold.eot') format('embedded-opentype'),
         url('../fonts/GothamBold.svg') format('svg'),
         url('../fonts/GothamBold.woff') format('woff'),
         url('../fonts/GothamBold.ttf') format('truetype');			 
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/GothamBook.eot');
    src: url('../fonts/GothamBook.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamBook.woff') format('woff'),
         url('../fonts/GothamBook.ttf') format('truetype'),
         url('../fonts/GothamBook.svg#gotham_bookregular') format('svg');		 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gotham';
    src: url('../fonts/gotham-medium-webfont.eot');
    src: url('../fonts/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gotham-medium-webfont.woff2') format('woff2'),
         url('../fonts/gotham-medium-webfont.woff') format('woff'),
         url('../fonts/gotham-medium-webfont.ttf') format('truetype'),
         url('../fonts/gotham-medium-webfont.svg#gotham_mediumregular') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'oswald';
    src: url('../fonts/oswald-heavy-webfont.eot');
    src: url('../fonts/oswald-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-heavy-webfont.woff2') format('woff2'),
         url('../fonts/oswald-heavy-webfont.woff') format('woff'),
         url('../fonts/oswald-heavy-webfont.ttf') format('truetype'),
         url('../fonts/oswald-heavy-webfont.svg#oswaldheavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'oswald';
    src: url('../fonts/oswald-medium-webfont.eot');
    src: url('../fonts/oswald-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-medium-webfont.woff2') format('woff2'),
         url('../fonts/oswald-medium-webfont.woff') format('woff'),
         url('../fonts/oswald-medium-webfont.ttf') format('truetype'),
         url('../fonts/oswald-medium-webfont.svg#oswaldmedium') format('svg');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'oswald';
    src: url('../fonts/oswald-bold-webfont.eot');
    src: url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oswald-bold-webfont.woff2') format('woff2'),
         url('../fonts/oswald-bold-webfont.woff') format('woff'),
         url('../fonts/oswald-bold-webfont.ttf') format('truetype'),
         url('../fonts/oswald-bold-webfont.svg#oswaldbold') format('svg');
    font-weight: 700;
    font-style: normal;
}