@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'gothamblack';
  src: url('../fonts/gotham-black-webfont.woff2') format('woff2'),
    url('../fonts/gotham-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothambold';
  src: url('../fonts/gothambold-webfont.woff2') format('woff2'),
    url('../fonts/gothambold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothambold_italic';
  src: url('../fonts/gothambolditalic-webfont.woff2') format('woff2'),
    url('../fonts/gothambolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothambook';
  src: url('../fonts/gothambook-webfont.woff2') format('woff2'),
    url('../fonts/gothambook-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothambook_italic';
  src: url('../fonts/gothambookitalic-webfont.woff2') format('woff2'),
    url('../fonts/gothambookitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothamlight';
  src: url('../fonts/gothamlight-webfont.woff2') format('woff2'),
    url('../fonts/gothamlight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothamlight_italic';
  src: url('../fonts/gothamlightitalic-webfont.woff2') format('woff2'),
    url('../fonts/gothamlightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothammedium';
  src: url('../fonts/gothammedium-webfont.woff2') format('woff2'),
    url('../fonts/gothammedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothamregular';
  src: url('../fonts/gotham_regular-webfont.woff2') format('woff2'),
    url('../fonts/gotham_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.motive-box {
  padding: 50px 0;
  background-color: #E6E6E6;
}

.motive-box h2 {
  font-family: 'gothammedium';
  font-size: 43px;
  line-height: 55px;
  text-transform: uppercase;
  color: #1A1A1A;
  font-weight: bolder;
  margin: 0 0px 42px 0;
}

.motive-box h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #1A1A1A;
  height: 60px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.motive-box .row .col-md-3:nth-child(1) h3 {
  flex-direction: column;
}

.motive-box .row .col-md-3:nth-child(2) h3 {
  flex-direction: column;
}

.motive-box .row .col-md-3:nth-child(4) h3 {
  flex-direction: column;
}

.motive-box .motive-block {
  background: #fff;
  border-radius: 20px;
  padding: 85px 5px 10px 12px;
  min-height: 433px;
  position: relative;
  /* margin: 0 20px; */
}

.motive-box .motive-block p {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #141414;
  margin: 0;
}

.motive-box .motive-block img {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  box-shadow: 3px 4px 8px rgb(0 0 0 / 15%);
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
}

.motive-box .btn-opt2::after {
  display: none;
}

.motive-box .btn-opt2::before {
  content: '';
  background-image: url(../images/arrow3.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  position: absolute;
  width: 73.79px;
  height: 86.64px;
  background-size: contain;
  left: -85px;
  bottom: 21px;
  transform: rotate(358deg);
}

.motive-box .button-block h4 {
  font-family: 'cera_promedium';
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-decoration-line: underline;
  color: #333333;
  margin: 15px 0;
}

.qa-box .button-block h5,
.motive-box .button-block h5 {
  display: none;
}

.motive-box .button-block {
  width: auto;
  display: inline-block;
  margin-top: 50px;
}

.motive-box .button-block blockquote {
  font-family: 'cera_proregular';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #333333;
  text-align: center;
}

.motive-box .button-block blockquote img {
  height: 15.18px;
  width: auto;
  vertical-align: baseline;
}



.motive-box2 {
  background: url(../images/motive-Union.png) no-repeat top center / contain;
  padding: 50px 0px !important;
  background-color: #1a1a1a;
  text-align: center;
  position: relative;
}

.motive-box2 .motive-block {
  position: relative;
  z-index: 99999;
}

/* .motive-box2::after {
  content: '';
  position: absolute;
  width: 100%;
  background: #e5e5e5;
  height: 139px;
  left: 0;
  bottom: -86px;
  
  transform: skewy(8deg);
} */

.motive-box2 h2 {
  font-family: 'gothambold';
  font-style: italic;
  font-weight: 700;
  font-size: 26px !important;
  line-height: 36px !important;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.motive-box2 h2 em{color: #FFFFFF;}




.motive-box2 p {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 40px;
}

.motive-box2 h3 {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.39px;
  text-align: center;
  color: #FFFFFF;
  margin: 15px 0;
}


.motive-box2 img.img-fluid {
  width: 150px;
}

.motive-box2 img.img-fluid.bdg {
  width: 126px;
  height: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.motive-box{ display: block;}
.motive-box2{ display: none;}
section.qa-box {
  margin-top: 40px;
}





@media screen and (max-width:767px) {
  .motive-box{ display: none;}
  .motive-box2{ display: block;}
}
@media screen and (max-width:991px) {
.motive-box .motive-block {
  min-height: 376px;
}

}

@media screen and (max-width:1199px){.motive-box .motive-block p {
  font-size: 18px;
  line-height: 26px;
}

.motive-box h3 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 65px;
}}
@media screen and (max-width: 1366px){
.motive-box .motive-block {
    min-height: 330px;
}}

.p-info-card {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  margin-bottom: 5px;
}

.p-info-card .card-rd {
  width: calc(50% - 8px);
}

.p-info-card .card-img {
  width: calc(50% - 8px);
}

.p-info-card .card-rd .b-add {
  width: 100%;
  border: 0px;
}

.p-info-card .card-rd .b-add .b-add-radio {
  font-weight: 700;
}

.c-type-box {
  background: #f2f6f7;
  border: 1px solid #dadedf;
  padding: 20px;
  margin-bottom: 20px;
}

.p-info-card .b-add-radio input:checked~.checkmark {
  background-color: #fff;
  border: 2px solid #1d9aca;
}

.card-type {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  border-bottom: 1px solid #dadedf;
  margin-bottom: 15px;
}

.card-type .b-add {
  width: 50%;
  border: 0px solid #dadedf;
  padding: 12px 15px;
  border-bottom: 1px solid #008dc3 !important;
}

.card-type .b-add-radio .checkmark:after {
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #a2e5ff;
  border: 4px solid #008dc3;
}

.card-type .b-add-radio input:checked~.checkmark {
  background-color: #a2e5ff;
  border: 0px solid #1d9aca;
}

.paypal-btn {
  border: 1px solid #dadedf;
  padding: 5px 10px;
  margin-top: 15px;
}

.war-text p {
  color: #7c7c7c;
  position: relative;
  display: table;
  margin: 10px auto;
  padding-left: 27px;
}

.war-text p:after {
  position: absolute;
  content: "";
  /*background: url(../images/lock.png);*/
  background-repeat: no-repeat;
  width: 18px;
  height: 25px;
  background-size: 18px;
  top: 3px;
  left: 0px;
}
.card-type .checkmark {
  background-color: #fff;
}
.card-type .b-add.bl-0.checked11 {
  background: #008dc3;
  color: #fff;
}
.card-type .b-add.bl-0 {
      margin-top: 10px;
      background: #fff;
  }

  .form-control {
  
  font-weight: 400 !important;
  line-height: 1.5 !important;
  color: #20252b !important;
  background-color: #fff !important;
  background-clip: padding-box !important;    
      height: 44px !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
