.p-info-card {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  margin-bottom: 5px;
}

.p-info-card .card-rd {
  width: calc(50% - 8px);
}

.p-info-card .card-img {
  width: calc(50% - 8px);
}

.p-info-card .card-rd .b-add {
  width: 100%;
  border: 0px;
}

.p-info-card .card-rd .b-add .b-add-radio {
  font-weight: 700;
}

.agree-checkbox {
  width: 13px;
  height: 13px;
  vertical-align: middle;
  position: relative;
  top: -1px;
}

/* .p-info-card .checkmark {
  background-color: #fff;
  border: 2px solid #1d9aca;
} */

.card-type {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  border-bottom: 1px solid #dadedf;
  margin-bottom: 15px;
}

.card-type .b-add {
  width: 50%;
  border: 0px solid #dadedf;
  padding: 12px 15px;
  border-bottom: 1px solid #008dc3 !important;
}

.card-type .b-add-radio .checkmark:after {
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #a2e5ff;
  border: 4px solid #008dc3;
}

.card-type .b-add-radio input:checked~.checkmark {
  background-color: #a2e5ff;
  border: 0px solid #1d9aca;
}

.paypal-btn {
  border: 1px solid #dadedf;
  padding: 5px 10px;
  margin-top: 15px;
}

.war-text p {
  color: #7c7c7c;
  position: relative;
  display: table;
  margin: 10px auto;
  padding-left: 27px;
}

.war-text p:after {
  position: absolute;
  content: "";
  /*background: url(../images/lock.png);*/
  background-repeat: no-repeat;
  width: 18px;
  height: 25px;
  background-size: 18px;
  top: 3px;
  left: 0px;
}

.card-type .checkmark {
  background-color: #fff;
}

.card-type .b-add.bl-0.checked11 {
  background: #008dc3;
  color: #fff;
}

.card-type .b-add.bl-0 {
  margin-top: 10px;
  background: #fff;
}

.p-info-hd h2 {font-size: 1.5rem;
  font-weight: 300;
  padding: 0;
  color: rgba(0, 0, 0, 0.9);
  margin: 10px 0;
}
.phone-icon {
  line-height: 1.5 !important;
  padding: 0 0.1rem 0 0.2rem !important;
}
.p-info-hd p {
  background-size: cover;
  font-size: 15px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  margin-bottom: 20px;
}


.p-info-card .card-rd .b-add .b-add-radio {
  font-weight: 700;
}

.b-add-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px;
  cursor: pointer;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.b-add-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.p-info-card .b-add-radio .checkmark {
  background-color: #fff;
  border: 2px solid #1d9aca;
  padding: 0;
  position: absolute;
  height: 22px;
}

.b-add-radio input:checked~.checkmark {
  background-color: #f2f6f7;
  border: 2px solid #1d9aca;
}

.p-info-card .b-add-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #000;
}

.b-add-radio input:checked~.checkmark:after {
  display: block;
}

.b-add-radio .checkmark:after {
  top: 0px;
  left: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #6dc212;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.quiz-wrap {
  width: 100%;
  margin: auto auto;
  padding: 20px;
  overflow: hidden;
  background-color: #efefef;
  position: relative;
  color: #000;
}

.question-wrap h2 {
  margin-bottom: 30px;
  font-size: 30px;
}

.quiz-wrap p {
  font-size: 22px;
  line-height: 150%;
  margin-bottom: 30px;
}

.quiz-wrap p:last-child {
  margin-bottom: 0;
}

.question-wrap {
  padding: 40px;
}

.quiz-wrap .answer-entry {
  font-size: 22px;
  line-height: 150%;
  padding: 0 10px 25px 60px;
  position: relative;
}

.quiz-wrap .indicator {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 0;
  top: 0;
  border: 5px solid #bbb;
  border-radius: 50%;
  background-color: #636363;
}

.answer-entry:hover .indicator,
.answer-entry.active .indicator {
  background-color: #87bd3e;
  border-color: #1d411d;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.answer-entry:hover .indicator {
  transform: scale(1.2, 1.2);
}

.answer-entry:hover {
  cursor: pointer;
}

/* QUIZ COVER */

.cover-wrap:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: 1;
}

.cover-wrap-content {
  position: relative;
  z-index: 9;
  padding: 20px 0;
}

.pre-result-wrap {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #efefef;
}

.gradient-border {
  --borderWidth: 5px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
}

.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cover-wrap .cover-btn {
  color: white;
  font-size: 28px;
  font-weight: bold;
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: #8ac03e;
  padding: 10px;
  cursor: pointer;
}

/* SLIDER */
.quiz-slider {
  display: flex;
  align-items: start;
}

.nav-control {
  text-align: center;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 40px);
  min-height: 45px;
}

.nav-control .qnext {
  padding: 10px 40px;
  background: #87bd3e;
  color: #fff;
  text-transform: uppercase;
  margin: 0 20px;
  cursor: pointer;
  border: 5px solid #1d411d;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  display: inline-block;
  line-height: 100%;
}

.inactive.qnext {
  background-color: #545454;
  cursor: auto;
}

.quiz-wrap .qprev {
  padding: 14px 20px;
  border: 1px solid #333;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  line-height: 100%;
  cursor: pointer;
  font-size: 25px;
  color: #717171;
}

.quiz-wrap .qprev:hover {
  border-color: #8fd62d;
  color: #8fd62d;
}

/* ANALYZE ANIMATION */
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;

  -webkit-animation: sk-rotate 2s infinite linear;
  animation: sk-rotate 2s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #8bc13e;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* SUCCESSS */
.success-wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  display: flex;
  padding: 20px;
}

.success-wrap:after {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  background: #efefef;
  opacity: 0.5;
}

.success-content {
  text-align: center;
  max-width: 700px;
  margin: auto;
  border: 2px solid #88be3e;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  z-index: 9;
  background: #efefef;
}
.success-wrap p {
  font-size: 24px;
  line-height: 130%;
}

.success-wrap input[type="email"] {
  width: 70%;
  padding: 15px 20px;
  border-radius: 0;
  font-size: 14px;
  line-height: 100%;
  color: #333;
  border: none;
}

.success-wrap input[type="submit"] {
  padding: 15px;
  line-height: 100%;
  font-size: 14px;
  border-radius: 0;
  width: 25%;
  background: #89bf3e;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.success-wrap form {
  margin: 15px auto;
}

.status-wrap p {
  text-align: center;
  font-size: 18px;
}

.status-wrap .spinner {
  margin: 20px auto;
}

@media screen and (max-width: 479px) {
  .success-wrap {
    height: auto;
  }

  .success-wrap input[type="submit"] {
    width: 100%;
    margin: 10px auto 0;
  }

  .success-wrap input[type="email"] {
    width: 100%;
  }
}

/* RESULT */
.score-wrap {
  filter: blur(8px);
}

.score-wrap.show {
  filter: blur(0);
}

.qscore {
  max-width: 200px;
  margin: 0 auto 20px;
  text-align: center;
}

.pie {
  position: relative;
}

.quiz-wrap .totalWrap {
  font-size: 50px;
  font-weight: bold;
  line-height: 100%;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  text-align: center;
  width: 100%;
  color: yellowgreen;
}

.quiz-wrap .totalWrap span {
  color: yellowgreen;
  font-size: 20px;
  top: -10px;
  position: relative;
  margin-left: 2px;
}

.quiz-wrap svg {
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  background: yellowgreen;
  border-radius: 50%;
}

.quiz-wrap circle.c1 {
  fill: #e0e0e0;
  stroke: yellowgreen;
  stroke-width: 32;
}

.quiz-wrap circle.c2 {
  fill: #fff;
}

/* POPUP Close Button */
.pop-close {
  opacity: 1;
}

/* .pop-close:before {
  position: absolute;
  right: 30px;
  top: 10px;
  z-index: 9;
  cursor: pointer;
  content: "\f00d ";
  font-family: fontawesome;
  text-align: center;
  font-size: 40px;
  color: #8fd62d;
} */

.pop-close:before {
  position: absolute;
  right: 30px;
  top: 10px;
  z-index: 9;
  cursor: pointer;
  content: "\00d7";
  text-align: center;
  font-size: 55px;
  color: #8fd62d;
  line-height: 100%;
  transition: transform 500ms;
}

.pop-close:hover:before {
  transform: rotate(180deg);
}

/* STATUS */
.error-wrap {
  text-align: center;
  background: #ffcbcb;
  border: 1px solid #ff9595;
  padding: 5px;
  font-size: 14px;
  line-height: 130%;
}

/* POPUP */
.popup-wrapper,
.popup-quiz-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9999;
  display: flex;
  overflow: scroll;
}

.popup-content-wrapper {
  width: 100%;
  margin: auto auto;
  padding: 20px;
  overflow: hidden;
  background-color: #efefef;
  position: relative;
  color: #000;
}

.popup-form-elem {
  display: inline-block;
  margin: 5px;
}

form.popup-form {
  text-align: center;
  margin: 15px 0;
}

.popup-form-elem input,
.popup-form-elem-submit input {
  border-radius: 0;
  padding: 15px 5px 15px 15px;
  color: #333;
  font-size: 15px;
  line-height: 100%;
  border: 1px solid #dbdbdb;
}

.popup-form-elem-submit input {
  padding: 15px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  background: #8fd62d;
  border: 1px solid #84d910;
}

.success-message {
  text-align: center;
  background: #8fd62d;
  padding: 15px;
  border-radius: 5px;
}

.closing-progress {
  height: 5px;
  width: 100%;
  background: #5f9d0a;
  position: absolute;
  left: 0;
  bottom: 0;
}

