@font-face {
	font-family: 'Rockwell Std';
	src: url('../fonts/RockwellStd-Bold.woff2') format('woff2'), 
	url('../fonts/RockwellStd-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

.switcher label { top: 4px !important; margin-bottom: 0; }
.togglebtn  {font-size: 19px;  font-family: 'Rockwell Std'; }

.switcher {
      position: relative;
      width: 100%;
      height: 57px;
      border-radius: 25px;
      margin: 20px auto 20px;
      cursor: pointer !important;
      max-width: 380px;
      font-family: 'Rockwell Std'; 
    }
  .switcher input {
      appearance: none;
      -webkit-appearance: none;
      position: relative;
      width: 100%;
      height: 50px;
      border-radius: 25px;
      background-color: #0054a6 !important;
      outline: none;
      font-family: inherit;
    }
  .switcher input:after {
      z-index: 2;
      position: absolute;
      top: 50%;
      /* transform: translate(-68%,-50%);
      -webkit-transform: translate(-68%,-50%); */
      transform: translate(-14%,-49%);
      -webkit-transform: translate(-14%,-49%);
      color: #fff!important;
      cursor: pointer;
    }
    .switcher input:before {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translate(10%,-50%);
    -webkit-transform: translate(10%,-50%);
    color: #fff!important;
    cursor: pointer;
}
  .switcher input:before {
      content: "MONTHLY"; 
      left: 34px;
    }
  .switcher input:after {
      content: "ONE TIME";
      right: 32px;
    }
  .switcher label {
      z-index: 1;
      position: absolute;
      top: 4px;
      /*top: 3.5px; 
       bottom: 12px; */
      border-radius: 49px;
      /* width: 200px; */
      width: 180px;
      padding: 19px;
      right: -3px;
      cursor: pointer;
      background: transparent !important;
      /* color: #333 !important; */
      border: 2px solid #fff;
      background: #fff !important;
    }
  .switcher.switcher-1 input {
      transition: 0.25s -0.1s;
      -webkit-transition: 0.25s -0.1s;
      outline: 0;
    }
  .switcher.switcher-1 input:checked {
      background-color: #fff;
    }
  .switcher.switcher-1 input:checked:before {
      /*color: #fff;*/
      color: #0054a6 !important;
      transition: color 0.5s 0.2s;
      -webkit-transition: color 0.5s 0.2s;
      font-weight: bold;
    }
  .switcher.switcher-1 input:checked:after {
      color: #ccc;
      transition: color 0.5s;
      -webkit-transition: color 0.5s;
      font-weight: 400;
     
    }
  .switcher.switcher-1 input:checked + label {
      left: 5px;
      right: 100px;
      /*background: #1e1e1e;*/
      background: #fff !important;
      transition: left 0.5s, right 0.4s 0.2s;
      -webkit-transition: left 0.5s, right 0.4s 0.2s;
    }
  .switcher.switcher-1 input:not(:checked) {
      background: #1e1e1e;
      transition: background 0.5s -0.1s;
      -webkit-transition: background 0.5s -0.1s;
      outline: 0;
    }
  .switcher.switcher-1 input:not(:checked):before {
      color: #ccc;
      transition: color 0.5s;
      -webkit-transition: color 0.5s;
      outline: 0;
    }
  .switcher.switcher-1 input:not(:checked):after {
      /*color: #1e1e1e;*/
      color: #0054a6 !important;
      transition: color 0.5s 0.2s;
      -webkit-transition: color 0.5s 0.2s;
      font-weight: bold;
    }
  .switcher.switcher-1 input:not(:checked) + label {
      left: 195px;
      max-width: 185px;
      right: 10px;
      background: #333;
      /* border: 1px solid #fff; */
      transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
      -webkit-transition: left 0.4s 0.2s, right 0.5s, background 0.35s -0.1s;
    }


    @media screen and (max-width:992px) {
      .switcher.switcher-1 input:not(:checked) + label  {left: 159px;}

    }
 

 @media screen and (max-width: 400px) {

    .switcher label { width: 146px; }
    .switcher input::before {left: 16px;}

    .switcher.switcher-1 input:not(:checked) + label {max-width: 146px; left: 149px;}

    .switcher {max-width: 300px;}
    .switcher input::after { right: 13px; }
}


