@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'cera_problack_italic';
  src: url('../fonts/cera_pro_black_italic-webfont.woff2') format('woff2'),
    url('../fonts/cera_pro_black_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'ClobberGrotesk-BoldItalic';
  src: url('../fonts/ClobberGrotesk-BoldItalic.woff2') format('woff2'),
    url('../fonts/ClobberGrotesk-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



@font-face {
  font-family: 'cera_problack';
  src: url('../fonts/cera_pro_black-webfont.woff2') format('woff2'),
    url('../fonts/cera_pro_black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'cera_probold';
  src: url('../fonts/cera_pro_bold-webfont.woff2') format('woff2'),
    url('../fonts/cera_pro_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'cera_prolight';
  src: url('../fonts/cera_pro_light-webfont.woff2') format('woff2'),
    url('../fonts/cera_pro_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'cera_promedium';
  src: url('../fonts/cera_pro_medium-webfont.woff2') format('woff2'),
    url('../fonts/cera_pro_medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'cera_proregular';
  src: url('../fonts/cera_pro_regular.woff2') format('woff2'),
    url('../fonts/cera_pro_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'cera_proitalic';
  src: url('../fonts/cera_pro_regular_italic-webfont.woff2') format('woff2'),
    url('../fonts/cera_pro_regular_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}



@font-face {
  font-family: 'gothamblack';
  src: url('../fonts/gotham-black-webfont.woff2') format('woff2'),
    url('../fonts/gotham-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothambold';
  src: url('../fonts/gothambold-webfont.woff2') format('woff2'),
    url('../fonts/gothambold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothambold_italic';
  src: url('../fonts/gothambolditalic-webfont.woff2') format('woff2'),
    url('../fonts/gothambolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothambook';
  src: url('../fonts/gothambook-webfont.woff2') format('woff2'),
    url('../fonts/gothambook-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothambook_italic';
  src: url('../fonts/gothambookitalic-webfont.woff2') format('woff2'),
    url('../fonts/gothambookitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothamlight';
  src: url('../fonts/gothamlight-webfont.woff2') format('woff2'),
    url('../fonts/gothamlight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothamlight_italic';
  src: url('../fonts/gothamlightitalic-webfont.woff2') format('woff2'),
    url('../fonts/gothamlightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothammedium';
  src: url('../fonts/gothammedium-webfont.woff2') format('woff2'),
    url('../fonts/gothammedium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'gothamregular';
  src: url('../fonts/gotham_regular-webfont.woff2') format('woff2'),
    url('../fonts/gotham_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}






* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a,
.btn {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

a:focus,
a:hover {
  outline: none;
  text-decoration: none;

}

body {
  font-size: 16px;
  background: #fff;
  color: #000;
  font-family: 'cera_proregular';
}

ul {
  margin: 0;
  padding: 0;
}


.border_radius {
  border-radius: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}


.navbar {
  background: none !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 1px;
}

/**/
@supports(padding:max(0px)) {
  body {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
  }
}

html,
body {
  overflow-x: hidden !important;
  width: 100% !important;
}


/* ============================  */

.hide-desk {
  display: block;
}

.hide-mob {
  display: none;
}

@media screen and (max-width:767px) {
  .hide-desk {
    display: none !important;
  }

  .hide-mob {
    display: block !important;
  }
}

.upsHdr {
  background: #fff;
  box-shadow: 0px 4px 8px rgb(0 0 0 / 20%);
  padding: 20px 0;
  position: relative;
  /* border-top: 10px solid #333333; */
}

.upsHdr .logo {
  max-width: 258px;
}

.banner-main {
  background: #1A1A1A;
  background-image: url(../images/Union2.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;

}

.banner-main h1 {
  text-align: center;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  margin: 25px 0;
  padding: 0;
}

.ban-boot {
  display: none;
}

.banner-main label {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38.4594px;
  line-height: 47px;
  text-align: center;
  color: #FFFFFF;
}


.banner-main h1 span {
  color: #ffffff;
  font-size: 42px;
  line-height: 66px;
  display: block;
  font-style: normal;
  text-transform: capitalize;
}

.banner-main .arrowdownarowtag {
  width: 0px;
  height: 0px;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: 40px solid #B02F53;
}

.banner-main .banneroffertagbg {
  background: #B02F53;
  width: 160px;
  padding: 13px 0 5px 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.banner-main .off_text {
  font-size: 46px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}

.banner-main .upto_text {

  width: 40px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}

.banner-main .tag_save {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  margin: 0;
}

.banner-main .banneroffer_tag {
  position: absolute;
  right: -30px;
  top: 0;
}

.banner-main .showmobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .banner-main .showmobile {
    display: inline-block;
  }

  .formula-box .button-block a.banner-button::before {
    width: 42.79px !important;
    height: 67.64px !important;
    left: -57px !important;
    bottom: 17px !important;
  }

  .banner-main .showdesktop,
  .banner-main .arrowdownarowtag {
    display: none !important;
  }

  .banner-main .banneroffer_tag {
    position: relative;
    right: 0;
    text-align: center;
    top: 15px;
  }

  .banner-main .banneroffertagbg {
    width: auto;
    display: inline-block;
    padding: 0px 15px;
  }

  .banner-main .tag_save {
    font-size: 20px;
    line-height: 32px;
  }

}

/* .banner-main .discound-box {
  position: relative;
}

.banner-main .discound-box label {
     background-image: url(../images/Rectangle64.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 158px;
    height: 149.7px;
    right: -32px;
    top: 0;
    text-align: center;
    padding: 10px;
}

.banner-main label span:nth-child(1) {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  display: block;
  width: 34px;
  float: left;
  padding: 0 10px 0 0;
}

.banner-main label span:nth-child(2) {
  font-size: 42px;
  line-height: 42px;
} */

/* .banner-main .banner-right {
  padding-right: 90px;
  position: relative;
 background-image: url(../images/arrow2.png);
    background-repeat: no-repeat;
    background-size: 51px auto;
    background-position: right 34px bottom 71px; 
} */



.banner-main .banner-right .rating-box {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.banner-main .banner-right .rating-box p {
  margin: 0 0 0 8px;
  font-weight: 300;
  font-family: 'Assistant', sans-serif;
  font-size: 19px;
}

.banner-main .banner-right .rating-box img {
  width: 129.88px;
  height: auto;
  vertical-align: text-bottom;
}

.banner-main .banner-right h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  margin: 0 0 20px 0;
  padding: 0;
}

.banner-main .banner-right ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.banner-main .banner-right ul li {
  background-image: url(../images/Vector-tik.png);
  background-repeat: no-repeat;
  background-size: 23px auto;
  background-position: left top 6px;
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 0 0 13px 35px;
}

.banner-main .banner-right h4 {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 20px 0 15px 0;
}

a.banner-button {
  background: #B02F53;
  box-shadow: 2px 5px 5px rgb(0 0 0 / 10%);
  display: block;
  padding: 20px 0;
  font-family: 'Montserrat', sans-serif;
  /* font-style: italic; */
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  transition: all 600ms ease-in-out;
  position: relative;
}

a.banner-button b {
  margin-left: 10px;
}

.button-block {
  width: 430px;
  display: inline-block;

}

.title-ban {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.button-block a.banner-button::after {
  content: '';
  background-image: url(../images/arrow2.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  position: absolute;
  width: 51.79px;
  height: 90.64px;
  background-size: contain;
  transform: rotate(-8.42deg);
  bottom: 90px;
  right: -51px;
  bottom: 40px;
}

/* .formula-box .button-block a.banner-button::after {
  display: none
} */

section.formula-box ul li.desktop-none {
  display: none;
}

/* 
.formula-box .button-block a.banner-button::before {
  content: '';
  background-image: url(../images/im-arrow3.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  position: absolute;
  width: 51.79px;
  height: 90.64px;
  background-size: contain;
  transform: rotate(-8.42deg);
  left: -67px;
  bottom: 26px;
} */

a.banner-button:hover {
  color: #B02F53;
  background-color: #FFFFFF;
}

.banner-main .banner-right blockquote {
  font-style: normal;
  font-family: 'Assistant', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 12px 0 25px 0;
  padding: 0;
  text-align: center;
}

section.street-box {
  position: relative;
  z-index: 999;
}

.banner-main .banner-right blockquote img {
  height: 15.18px;
  width: auto;
  vertical-align: baseline;
}

.banner-main .banner-rightbot {
  margin-bottom: 31px;
  min-height: 105px;
}

.banner-main .banner-rightbot p {
  /* background-image: url(../images/Mask-group.png);
  background-repeat: no-repeat;
  background-size:121px auto;
  background-position: left center; */
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 26px;
  color: #FFFFFF;
  margin: 0 0 0 0;
  padding: 0 0 0 105px;
  margin: 0 0 25px 0;
}

.banner-main .banner-rightbot img {
  width: 105px;
  height: auto;
  float: left;
  margin-right: 20px;
}








.dela-hoya h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #9F9F9F;
  margin: 0 0 25px 0;
  padding: 0;
}

section.dela-hoya {
  padding: 35px 0;
}

.dela-hoya h2 span {
  display: block;
  color: #333333;
  font-size: 48px;
  line-height: 48px;
}

.dela-hoya .image-bg {
  display: flex;
  align-items: center;
  background: url(../images/titan-images/RING-SIDE-8.jpg);
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
}

.dela-hoya .text-block {
  padding: 0 45px;
}

.dela-hoya .text-block p {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 33px;
  align-items: center;
  color: #333333;
  margin: 0;
}

.dela-hoya .text-block p span {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 66px;
  line-height: 34px;
}

.dela-hoya img.img-fluid {
  width: 427px;
  height: auto;
}












.imgtxt-box {
  /* background-color: #B02F53; */
  background-image: url(../images/titan-images/Union-titan.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.imgtxt-box .text-block {
  position: relative;
  /* min-height: 490px; */
  min-height: 770px;
}

.imgtxt-box .container-fluid .row:nth-child(odd) .text-block {
  padding: 80px 40px 40px 27px;
}

.imgtxt-box .container-fluid .row:nth-child(even) .text-block {
  padding: 80px 27px 40px 40px;
}

.imgtxt-box .text-block .box {
  background: #FFFFFF;
  width: 100%;
  height: 6px;
  position: absolute;
  top: 83px;
  /* left: -40px; */
  margin: 0;
  opacity: 1;
}


.imgtxt-box .container-fluid .row:nth-child(odd) .box {
  left: -40px
}

.imgtxt-box .container-fluid .row:nth-child(even) .box {
  right: -40px
}

.imgtxt-box .text-block h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  text-transform: uppercase;
  color: #9F9F9F;
}

.imgtxt-box .row {
  overflow: hidden;
}

.imgtxt-box .row:nth-child(even) {
  flex-direction: row-reverse;

}

.imgtxt-box .text-block h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 45px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1A1A1A;
  margin: 0;
}

.imgtxt-box .text-block p {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  margin: 30px 0 0 0;
}

.imgtxt-box .image-block {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 200px;
  position: relative;
  background-color: #E6E6E6;
}

.imgtxt-box .button-block {
  width: 430px;
  display: inline-block;
  margin-top: 90px;
}

.imgtxt-box .button-block a.banner-button:hover {
  color: #fff;
  background-color: #1a1a1a;
}

.imgtxt-box .image-block .title {
  position: absolute;
  font-style: normal;
  font-weight: 700;
  font-size: 31.67px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: 'gothambook';
  color: #FFFFFF;
  bottom: 20px;
  left: 20px;
}


section.formula-box {
  background: #E5E5E5;
  padding: 35px 0 0 0;
}

.formula-box .col-md-12.btn-bx {
  margin-bottom: -30px;
  margin-top: 38px;
}

.formula-box .button-block a.banner-button::after {
  right: -62px;
  bottom: 21px;
}

.formula-box .col-md-12.btn-bx a.banner-button:hover {
  background: #1A1A1A;
  color: #fff;
}

section.formula-box h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 39px;
  line-height: 45px;
  text-transform: uppercase;
  color: #1A1A1A;
}

section.formula-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 50%;
  float: left;
}

section.formula-box ul li {
  background-image: url(../images/li-Rectangle65.png);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: top 7px left;
  font-family: 'Assistant', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #333333;
  padding-left: 20px;
  margin-bottom: 20px;
}

.gurantee-box .an-new-stl {
  margin-top: 34px;
  margin-bottom: 0;
}

.gurantee-box {
  text-align: center;
  background-color: #FFFFFF;
  padding: 80px 0 0 0;
}

.gurantee-box h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 39px;
  line-height: 43px;
  color: #333333;
  text-transform: capitalize;
  margin: 0 0 40px 0;
}



.gurantee-box .gurantee-block .icon-boxgn {
  width: 124px;
  height: 124px;
  background: #1A1A1A;
  border-radius: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.gurantee-block {
  /* padding: 0 30px; */
  margin-bottom: 35px;
}

.gurantee-box .gurantee-block .icon-boxgn img {
  height: 90px;
  width: auto;
  padding: 10px;
}

.gurantee-box .gurantee-block h2 {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  color: #141414;
}

.gurantee-box .gurantee-block p {
  font-family: 'Assistant', sans-serif;
  font-size: 21px;
  line-height: 32px;
  font-weight: 300;
  margin: 0;
}

.street-box {
  padding: 50px 0 20px;
}

.street-box h2 {
  font-family: 'gothammedium';
  font-size: 41px;
  line-height: 55px;
  text-transform: uppercase;
  color: #1A1A1A;
  font-weight: bolder;
  font-style: italic;
}

.street-box h2 span {
  display: block;
  font-size: 28px;
  line-height: 50px;
  color: #808080;
  font-style: normal;
}

.street-box .revInr {
  background: #F7F7F7;
  padding: 30px;
  min-height: 294px;
}

.street-box .revLeft {
  max-width: 100%;
  width: 108.13px;
  position: relative;
}

.street-box .revLeft span {
  font-family: 'cera_promedium';
  position: absolute;
  color: #BDBDBD;
  left: 0;
  margin: auto;
  right: 0;
  top: 15px;
  width: 90%;
  text-align: center;
  font-weight: 700;
  font-size: 50.1493px;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.street-box .revRght {
  padding-left: 30px;
  width: calc(100% - 108.13px);
}

.street-box .revRght h3 {
  font-family: 'Assistant', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #000000;
}

.street-box .revRght p {
  color: #000000;
  font-family: 'Assistant', sans-serif;
  font-size: 21px;
  line-height: 28px;
  font-weight: 300;
  margin: 0;
}

.street-box .revRght p strong {
  font-weight: 700;
}

.street-box .revRght img {
  width: 223px;
  height: auto;
}



.street-box .slick-dots {
  list-style: none;
  margin: 0 auto;
  text-align: center;
}

.street-box .slick-dots li {
  display: inline-block;
}

.street-box .slick-slide {
  margin: 0 10px !important;
}

.street-box .slick-dots li button {
  transition: 0.2s background-color ease-in-out 0s;
  border: none;
  padding: 0;
  color: transparent;

  width: 10px;
  height: 10px;
  background-color: #808080;
  margin-right: 10px;
  border-radius: 50%;
}

.street-box .slick-list.draggable {
  margin-bottom: 40px;
}

.street-box .slick-dots li.slick-active button {
  background: #1A1A1A;
}

















.motive-box {
  padding: 50px 0 20px;
  background-color: #E6E6E6;
}

.motive-box h2 {
  font-family: 'gothammedium';
  font-size: 43px;
  line-height: 55px;
  text-transform: uppercase;
  color: #1A1A1A;
  font-weight: bolder;
  margin: 0 0px 42px 0;
}

.motive-box h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  color: #1A1A1A;
  height: 60px;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

.motive-box .row .col-md-3:nth-child(1) h3 {
  flex-direction: column;
}

.motive-box .row .col-md-3:nth-child(2) h3 {
  flex-direction: column;
}

.motive-box .row .col-md-3:nth-child(4) h3 {
  flex-direction: column;
}

.motive-box .motive-block {
  background: #fff;
  border-radius: 20px;
  padding: 85px 5px 10px 12px;
  min-height: 433px;
  position: relative;
  /* margin: 0 20px; */
}

.motive-box .motive-block p {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #141414;
  margin: 0;
}

.motive-box .motive-block img {
  height: 125px;
  width: 125px;
  border-radius: 50%;
  box-shadow: 3px 4px 8px rgb(0 0 0 / 15%);
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: auto;
}

.motive-box .btn-opt2::after {
  display: none;
}

.motive-box .btn-opt2::before {
  content: '';
  background-image: url(../images/arrow3.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  position: absolute;
  width: 73.79px;
  height: 86.64px;
  background-size: contain;
  left: -85px;
  bottom: 21px;
  transform: rotate(358deg);
}

.motive-box .button-block h4 {
  font-family: 'cera_promedium';
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-decoration-line: underline;
  color: #333333;
  margin: 15px 0;
}

.qa-box .button-block h5,
.motive-box .button-block h5 {
  display: none;
}

.motive-box .button-block {
  width: auto;
  display: inline-block;
  margin-top: 50px;
}

.motive-box .button-block blockquote {
  font-family: 'cera_proregular';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #333333;
  text-align: center;
}

.motive-box .button-block blockquote img {
  height: 15.18px;
  width: auto;
  vertical-align: baseline;
}

section.satisfaction-box {
  padding: 45px 0;
}

.satisfaction-box .satinr {
  background: #1A1A1A;
  padding: 45px 70px;
}

.satisfaction-box .satinr .satinrLeft {
  max-width: 100%;
  width: 256px;
  position: relative;
}

.satisfaction-box .satinr .satinrRght {
  padding-left: 40px;
  width: calc(100% - 256px);
}

.satisfaction-box .satinr .satinrRght h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.satisfaction-box .satinr .satinrRght p {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 29px;
  color: #FFFFFF;
}

.satisfaction-box .btn-opt3::after {
  transform: rotate(26.92deg) !important;
  right: -82px !important;
  bottom: 14px !important;
}

.satisfaction-box .button-block blockquote {
  font-family: 'cera_proregular';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #fff;
  text-align: left;
}

.satisfaction-box .button-block blockquote img {
  height: 15.18px;
  width: auto;
  vertical-align: baseline;
}


.qa-box .button-block {
  margin-top: 40px;
}

section.qa-box {
  margin: 40px 0;
}

.qa-box .text-center h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #333333;
  font-weight: bolder;
  margin: 0 0px 26px 0;
}

.qa-box button.accordion-button {
  font-family: 'Assistant', sans-serif !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 22px !important;
  line-height: 28px !important;
  color: #000000 !important;
  background-color: #ffffff00 !important;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0) !important;
  padding: 0 !important;
}

.accordion-body {
  padding: 0 !important;
}

.qa-box button.accordion-button.collapsed {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
  color: #000000;
}

.qa-box .accordion-item {
  border: 2px solid #A3A3A3 !important;
  border-radius: 10px !important;
  margin-bottom: 13px;
  background-color: #ffffff !important;
  padding: 23px !important;
}

.accordion-button:not(.collapsed)::after {
  content: '-' !important;
  background-image: none !important;
  transform: none !important;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  color: #000000;
  font-family: 'cera_prolight';
  line-height: 15px;
}


.accordion-button::after {
  content: '+' !important;
  font-family: 'cera_prolight';
  background-image: none !important;
  background-image: none !important;
  transform: none !important;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  text-align: center;
  color: #000000;
  line-height: 15px;
}

.qa-box div#accordionFlushExample {
  padding: 0 120px;
}

.qa-box .accordion-body {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-top: 20px;
}


.qa-box .button-block h4 {
  font-family: 'cera_promedium';
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-decoration-line: underline;
  color: #333333;
  margin: 15px 0;
}

.qa-box .button-block blockquote {
  font-family: 'cera_proregular';
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #333333;
  text-align: center;
}

.qa-box .button-block blockquote img {
  height: 15.18px;
  width: auto;
  vertical-align: baseline;
}

.qa-box .btn-opt2:hover {
  color: white;
  background: #1a1a1a;
}

.motive-box a.banner-button:hover {
  color: white;
  background: #1a1a1a;
}

.gurantee-box a.banner-button:hover {
  color: white;
  background: #1a1a1a;
}

.qa-box .btn-opt2::after {
  content: '';
  background-image: url(../images/im-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 9999;
  position: absolute;
  width: 51.79px;
  height: 90.64px;
  background-size: contain;
  transform: rotate(-8.42deg);
  bottom: 90px;
  right: -51px;
  bottom: 40px;
  transform: rotate(26.92deg) !important;
  right: -82px !important;
  bottom: 14px !important;

}

.qa-box .btn-opt2::before {
  display: none;
}



footer .text-block {
  padding: 40px 0 20px 0;
  border-top: 1px solid #C4C4C4;
  border-bottom: 1px solid #C4C4C4;
}

footer .text-block p {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
  margin-bottom: 12px;
}

footer p a {
  color: #005BAC
}

footer p:nth-child(1) {
  margin-bottom: 30px;
  font-size: 16px;
}


footer .ftrlogo img {
  max-width: 208px;
}

footer .ftrMain {
  border-right: 1px solid #BDBDBD;
}

footer .ftrMail p {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #333333;
  margin: 0;
}

/* .ftrMail {
  border-right: 1px solid #BDBDBD;
  border-left: 1px solid #BDBDBD;
} */
/* footer .bottom-bar ul.for-desk {
  display: block;
} */
footer .bottom-bar ul.for-mob {
  display: none;
}

footer .ftrMail p a {
  color: #333333;
  text-decoration: none;
}

footer .ftrNews p {
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #333333;
  margin: 0;
  width: 165px;
}

footer .bottom-bar {
  padding: 25px 0;
}

footer .bottom-bar ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

footer .bottom-bar ul li {
  width: 100%;
}

footer .bottom-bar ul li:nth-child(1) {
  width: 30%;
}

footer .bottom-bar ul li:nth-child(2) {
  width: 34%;
  margin-right: 30px;
  border-right: 1px solid #BDBDBD;
  padding-right: 30px;
  margin-left: 30px;
  border-left: 1px solid #BDBDBD;
  padding-left: 30px;
}

footer .bottom-bar ul li:nth-child(3) {
  width: 48%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ftrNewinnr input.form-control {
  border-radius: 0;
  font-family: 'Assistant';
  font-size: 15px;
  color: #333333;
  border-color: #000000;
}

footer .bottom-bar ul li:nth-child(3) p {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #333333;
  margin: 0;
  width: 67%;

}

/* RESPONSIVE */

@media screen and (max-width: 3840px) {
  .imgtxt-box .text-block {
    min-height: 67vh;
  }

  .imgtxt-box .image-block {
    background-position: top center;
  }

  .footer-top-block::after {
    height: 208px;
  }

  /* .imgtxt-box .text-block h2 span{ display: inline;}
.banner-main {
  background-size: 100% 186%;
  background-position: top center;
}
.imgtxt-box .text-block h2 {
  font-size: 61px;
  line-height: 61px;}
  .imgtxt-box .text-block p {
    font-size: 33px;
    line-height: 42px;} */


}

@media screen and (max-width: 3440px) {

  .dela-hoya .image-bg {
    background-size: contain;
    background-repeat: repeat;
  }
}

@media screen and (max-width: 2560px) {}


@media screen and (max-width: 1920px) {
  .motive-box .motive-block {
    min-height: 330px;
  }

  .imgtxt-box .image-block {
    background-position: top center;
  }

  .imgtxt-box .text-block {
    min-height: 60vh;
  }
}

@media screen and (max-width: 1600px) {
  .imgtxt-box .text-block {
    min-height: 700px;
  }

}

@media screen and (max-width: 1366px) {
  .banner-main .banneroffertagbg {
    padding: 13px 0 6px 0;
  }

  .imgtxt-box .text-block {
    min-height: auto;
  }

  .imgtxt-box .container-fluid .row:nth-child(odd) .text-block {
    padding-bottom: 60px
  }

  .imgtxt-box .container-fluid .row:nth-child(even) .text-block {
    padding-bottom: 60px
  }

  .motive-box .motive-block {
    min-height: 330px;
  }
}

@media screen and (min-width: 1280px) {
  .banner-main .banneroffertagbg {
    padding: 13px 0 0px 0;
  }
}

@media screen and (max-width:1199px) {
  .banner-main .banner-right .rating-box p {
    font-size: 14px;
  }

  .imgtxt-box .button-block {
    width: auto;
  }

  .imgtxt-box a.banner-button {
    padding: 20px;
  }

  .banner-main h1 {
    font-size: 41px;
    line-height: 57px;
    margin: 14px 0;
  }

  .banner-main h1 span:nth-child(2) {
    font-size: 24px;
    line-height: 29px;
  }

  .banner-main .banner-right h3 {
    font-size: 29px;
    line-height: 35px;
  }

  .banner-main .banner-right .rating-box img {
    width: 111.88px;
  }

  .banner-main .banner-right .rating-box {
    font-size: 16px;
    line-height: 25px;
  }

  .banner-main .banner-right ul li {
    font-size: 18px;
    line-height: 23px;
    padding: 0 0 11px 32px;
  }

  .banner-main .banner-right h4 {
    font-size: 17px;
    line-height: 22px;
    margin: 14px 0 12px 0;
  }

  a.banner-button {
    /* padding: 12px 0;*/
    font-size: 23px;
    line-height: 30px;
  }

  .banner-main .banner-right blockquote {
    font-size: 15px;
    line-height: 16px;
    margin: 7px 0 17px 0;
  }

  .banner-main .banner-rightbot img {
    width: 80px;
    margin-right: 10px;
  }

  .banner-main .banner-rightbot p {
    font-size: 15px;
    line-height: 19px;
    padding: 0 0 0 80px;
    margin: 0 0 0 0;
  }

  .button-block a.banner-button::after {
    bottom: 26px;
  }

  .imgtxt-box .text-block h2 {
    font-size: 33px;
    line-height: 43px;
  }

  /* .imgtxt-box .text-block h3 {
    font-size: 22px;
    line-height: 27px;
  } */

  .imgtxt-box .text-block p {
    font-size: 18px;
    line-height: 24px;
  }

  .imgtxt-box .text-block {
    position: relative;
    min-height: 415px;
  }

  .street-box .revRght h3 {
    font-size: 22px;
    line-height: 23px;
  }

  .street-box .revRght p {
    font-size: 18px;
    line-height: 23px;
  }

  .street-box .revLeft span {
    font-size: 43.1493px;
    line-height: 42px;
  }

  .street-box .revRght img {
    width: 140px;
  }

  .motive-box .motive-block p {
    font-size: 18px;
    line-height: 26px;
  }

  .motive-box h3 {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 65px;
  }

  /* .motive-box .motive-block {
    min-height: 360px;
    margin: 0;
  } */

  /* .satisfaction-box .satinr .satinrRght h3 {
    font-size: 20px;
    line-height: 22px;
  } */

  .satisfaction-box .satinr .satinrRght p {
    font-size: 18px;
    line-height: 26px;
  }

  .satisfaction-box .satinr {
    align-items: center;
  }

  .satisfaction-box .satinr .satinrLeft {
    width: 200px;
  }

  .satisfaction-box .satinr .satinrRght {
    padding-left: 30px;
    width: calc(100% - 200px);
  }

  .satisfaction-box .satinr {
    padding: 35px 60px;
  }

  footer .bottom-bar ul li:nth-child(2) {
    width: 36%;
    margin-right: 15px;
    padding-right: 15px;
    margin-left: 15px;
    padding-left: 15px;
  }

  footer .bottom-bar ul li:nth-child(3) p {
    width: 80%;
  }

  footer .bottom-bar ul li:nth-child(1) {
    width: 25%;
  }

  .banner-main .tag_save {
    font-size: 34px;
    line-height: 39px;
  }

  .banner-main .off_text {
    font-size: 43px;
    line-height: 45px;
  }

  .banner-main .upto_text {
    font-size: 17px;
    line-height: 17px;
  }

  /* .table_secionsblack .frstRw .masCol2 p {
    font-size: 25px;
  } */
}

@media screen and (max-width:991px) {

  .formula-box .col-md-5,
  .formula-box .col-md-7 {
    width: 100%;
  }

  .imgtxt-box .button-block {
    width: auto;
  }

  .motive-box .motive-block {
    min-height: 376px;
  }

  .banner-main .banneroffer_tag {
    right: 0;
  }

  .banner-main h1 span {
    font-size: 28px;
    line-height: 60px;
  }

  .banner-main .banner-right h3 {
    font-size: 23px;
    line-height: 32px;
  }

  .banner-main .banner-right .rating-box p {
    font-size: 10px;
  }

  /* .dela-hoya .text-block p {
    font-size: 18px;
    line-height: 30px;
  } */

  .dela-hoya .text-block {
    padding: 0 29px;
  }

  .dela-hoya img.img-fluid {
    width: 100%;
  }

  .dela-hoya .image-bg {
    flex-direction: column;
  }

  .dela-hoya .text-block {
    padding: 24px 30px;
  }

  .formula-box .col-md-12.btn-bx {
    margin-bottom: -43px;
    margin-top: 11px;
  }


  .banner-main .banner-right ul li {
    font-size: 15px;
    line-height: 20px;
    padding: 0 0 11px 25px;
    background-size: 15px auto;
  }

  .banner-main .banner-right h4 {
    font-size: 14px;
    line-height: 16px;
  }

  .street-box h2 span {
    font-size: 22px;
    line-height: 36px;
  }

  a.banner-button {
    /*  padding: 12px 0; 
    font-size: 17px; */
    line-height: 19px;
    /* width: 100%; */
    margin: auto;
    padding: 20px;
  }
  .motive-box .button-block {
    width: auto;}
  .button-block a.banner-button::after {
    bottom: 22px;
    right: -43px;
    width: 40.79px;
    height: 79.64px;
  }

  .banner-main .banner-right blockquote {
    /* font-size: 11px;
    line-height: 11px; */
    margin: 8px 0 13px 0;
  }

  .banner-main .banner-right blockquote img {
    height: 12.18px;
  }

  .banner-main .banner-rightbot {
    margin-bottom: 25px;
    min-height: auto;
  }

  .banner-main .banner-rightbot img {
    width: 65px;
    margin-right: 10px;
  }

  .banner-main .banner-rightbot p {
    font-size: 12px;
    line-height: 16px;
    padding: 0 0 0 65px;
    margin: 0 0 0 0;
  }



  .banner-main .banner-right .rating-box {
    font-size: 13px;
    line-height: 13px;
    margin-bottom: 7px;
  }

  .banner-main .banner-right .rating-box img {
    width: 91.88px;
    margin-right: 5px;
  }

  .banner-main .banner-left {
    padding-right: 0;
  }

  .banner-main .banner-right h4 {
    margin: 7px 0;
  }

  .imgtxt-box .container-xxl .row:nth-child(odd) .text-block {
    padding: 60px 55px 40px 27px;
  }

  .imgtxt-box .text-block .box {
    top: 35px;
  }

  .imgtxt-box .text-block h2 {
    font-size: 30px;
    line-height: 35px;
  }

  /* .imgtxt-box .text-block h3 {
    font-size: 19px;
    line-height: 24px;
    margin: 0 0 15px 0;
  } */

  .imgtxt-box .text-block p {
    font-size: 16px;
    line-height: 24px;
  }

  .imgtxt-box .container-fluid .row:nth-child(odd) .text-block {
    padding: 78px 27px 40px 27px;
  }

  .imgtxt-box .container-fluid .row:nth-child(even) .text-block {
    padding: 78px 27px 40px 27px;
  }

  .formula-box .button-block a.banner-button::before {
    width: 38.79px;
    height: 66.64px;
    left: -54px;
    bottom: 15px;
  }

  section.formula-box h3 {
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 30px;
  }

  /* section.formula-box ul li {
    font-size: 16px;
    line-height: 25px;
    padding-left: 20px;
    margin-bottom: 20px;
  } */

  .an-new-stl {
    margin-top: 30px;
    margin-bottom: 15px;
  }

  /* .button-block {
    width: 354px;
  } */

  /* .button-block a.banner-button::after {
    bottom: 13px !important;
    right: -55px !important;
    width: 39.79px;
    height: 55.64px;
} */

  .gurantee-box h3 {
    font-size: 30px;
    line-height: 35px;
    margin: 0 0 35px 0;
  }

  .gurantee-block {
    padding: 0;
    margin-bottom: 25px;
  }

  /* .gurantee-box .gurantee-block h2 {
    font-size: 21px;
    line-height: 26px;
  } */

  /* .gurantee-box .gurantee-block .icon-boxgn {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
  }

  .gurantee-box .gurantee-block .icon-boxgn img {
    height: 80px;
    padding: 15px;
  } */

  /* .gurantee-box .gurantee-block p {
    font-size: 16px;
    line-height: 23px;
    font-weight: 300;
  } */

  .street-box h2 {
    font-size: 30px;
    line-height: 35px;
  }

  .street-box .revLeft span {
    font-size: 30.1493px;
    line-height: 30px;
  }

  .street-box .revLeft {
    width: 80.13px;
  }

  .street-box .revInr {
    padding: 18px;
  }

  .street-box .revRght {
    padding-left: 20px;
    width: calc(100% - 80.13px);
  }

  .street-box .revRght img {
    width: 100px;
    margin-bottom: 10px !important;
  }

  .street-box .revRght h3 {
    font-size: 17px;
    line-height: 20px;
  }

  .street-box .revRght p {
    font-size: 16px;
    line-height: 20px;
  }

  .street-box .revInr {
    padding: 30px;
    min-height: auto;
  }

  .table_secionsblack .sec8ftr h3 {
    font-size: 35px !important;
  }

  .table_secionsblack .sec8ftr p {
    font-size: 16px !important;
    margin-bottom: 30px !important;
  }

  .motive-box h2 {
    font-size: 30px;
    line-height: 35px;
  }

  .motive-box h3 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 90px !important;
    /* margin-bottom: 40px; */
  }

  /* .motive-box .motive-block img {
    height: 100px;
    width: 100px;
    top: -33px;
  } */

  .street-box {
    padding: 30px 0 20px;
  }

  /* .motive-box .motive-block p {
    font-size: 16px;
    line-height: 23px;
  } */

  /* .motive-box .motive-block {
    min-height: 340px;
  } */

  .motive-box .button-block h4 {
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    margin: 10px 0;
  }

  .motive-box .button-block blockquote {
    font-size: 11px;
    line-height: 12px;
  }

  .motive-box .button-block blockquote img {
    height: 10.18px;
  }

  /* .motive-box .btn-opt2::before {
    left: -51px;
    bottom: 0;
    bottom: 6px;
    width: 39.79px;
    height: 55.64px;
  } */

  .satisfaction-box .satinr .satinrLeft {
    width: 135px;
  }

  .satisfaction-box .satinr .satinrRght {
    padding-left: 20px;
    width: calc(100% - 135px);
  }

  .satisfaction-box .satinr {
    padding: 30px 40px;
  }

  .satisfaction-box .satinr {
    padding: 30px 40px;
  }

  /* .satisfaction-box .satinr .satinrRght h3 {
  font-size: 17px;
  line-height: 20px;
} */
  .satisfaction-box .satinr .satinrRght p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 15px !important;
  }

  section.satisfaction-box {
    padding: 30px 0;
  }

  .order_sections .nav-pills {
    margin-top: 15px !important;
  }

  .protexth2 {
    font-size: 25px !important;
    margin: 0;
  }

  .product_box {
    padding: 30px 15px !important;
  }

  .protexth3 {
    font-size: 17px !important;
    line-height: 23px !important;
  }

  /* .protexth4 {
  font-size: 27px  !important;
  line-height: 40px  !important;
} */
  .buy_btn {
    padding: 10px 20px !important;
    line-height: 18px !important;
    font-size: 16px !important;
  }

  .qa-box .text-center h2 {
    font-size: 30px !important;
    line-height: 35px !important;
  }

  .qa-box .accordion-item {
    padding: 17px !important;
  }

  .qa-box button.accordion-button {
    font-size: 18px !important;
    line-height: 24px !important;
  }

  .qa-box .accordion-body {
    font-size: 16px;
    line-height: 20px;
    margin-top: 15px;
  }

  /* .accordion-button:not(.collapsed)::after {
      font-size: 55px;}
      .accordion-button::after{
        font-size: 32px;} */
  .qa-box div#accordionFlushExample {
    padding: 0 80px;
  }

  section.satisfaction-box a.banner-button::after {
    bottom: 13px !important;
    right: -55px !important;
    width: 39.79px;
    height: 55.64px;
  }

  .qa-box .btn-opt2::before {
    bottom: 7px !important;
    width: 39.79px;
    height: 55.64px;
    left: -46px;
  }

  footer .ftrlogo img {
    max-width: 208px;
    width: 100%;
  }

  footer .bottom-bar ul li:nth-child(2) {
    width: 40%;
    margin-right: 10px;
    padding-right: 10px;
    margin-left: 10px;
    padding-left: 10px;
  }

  footer .bottom-bar ul li:nth-child(3) p {
    font-size: 12px;
    line-height: 16px;
  }

  footer .ftrMail p {
    font-size: 12px;
    line-height: 16px;
  }

  .ftrNewinnr input.form-control {
    font-size: 12px;
  }

  footer .bottom-bar {
    padding: 15px 0;
  }

  footer .text-block {
    padding: 25px 0 20px 0;
  }

  footer .text-block p {
    font-size: 14px;
    line-height: 18px;
  }

  .qa-box .button-block h4 {
    font-size: 14px;
    line-height: 14px;
    color: #333333;
    margin: 10px 0;
  }

  .qa-box .button-block blockquote {
    font-size: 11px;
    line-height: 12px;
  }

  .qa-box .button-block blockquote img {
    height: 10.18px;
  }

  .banner-main .arrowdownarowtag {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 30px solid #B02F53;
  }

  .banner-main .banneroffertagbg {
    width: 100px;
  }

  .banner-main .tag_save {
    font-size: 23px;
    line-height: 23px;
  }

  .banner-main .off_text {
    font-size: 30px;
    line-height: 30px;
  }

  .banner-main .upto_text {
    font-size: 12px;
    line-height: 12px;
  }

  .button-block {
    width: auto;
  }

  .banner-main .banneroffer_tag {
    right: -20px;
  }

  .satisfaction-box a.banner-button span {
    display: none;
  }
}

@media screen and (max-width:767px) {
  .street-box .revRght p strong {
    display: block;
  }

  .formula-box .col-md-12.btn-bx {
    margin-bottom: -30px;
  }

  .top-bar {
    height: auto;
    padding: 10px 0;
    text-align: center;
    background: #1A1A1A;
  }

  .top-bar p {
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    margin: 0;
  }

  .top-bar span {
    color: #FFE600;
    margin-left: 8px;
  }

  .top-bar em {
    margin-left: 5px;
    font-family: 'gothambold';
  }

  .having-sex {
    background-image: url(../images/titan-images/Titan-Man&Woman.png);
    background-color: #E5E5E5;
    position: relative;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: bottom right;
  }

  .having-sex img.img-fluid {
    width: 50%;
    position: relative;
    left: 0;
    bottom: -52px;
  }

  .having-sex h3 {
    font-family: 'gothambold';
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: #1A1A1A;
  }

  .having-sex h5 {
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #1A1A1A;
  }

  .having-sex h5 span {
    font-weight: 400;
    margin: 20px 0;
    display: block;
  }

  section.back-box {
    position: relative;
    z-index: 999;
  }

  .back-box h3 {
    font-family: 'gothambold';
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #1A1A1A;
  }

  .back-box h6 {
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: 0 0 20px 0;
  }

  .back-box h5 {
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin: 0 0 40px 0;
  }

  .back-box img {
    margin-bottom: -139px;
  }


  .satisfaction-box2 .satinr {
    background: #1A1A1A;
    padding-bottom: 16px;
  }

  .satisfaction-box2 .satinrRght {
    text-align: center;
    padding: 60px 10px 0 10px;
    position: relative;
  }

  .satisfaction-box2 .btn-bx {
    position: relative;
    z-index: 999;
  }

  .satisfaction-box2 a.banner-button {
    margin-top: 80px !important;
    margin-bottom: 13px;
  }

  .satisfaction-box2 h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 20px;
  }

  .satisfaction-box2 p {
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: left;
  }

  .satisfaction-box2 .satinrRght::after {
    content: '';
    position: absolute;
    width: 100%;
    background: #fdfdfd;
    height: 127px;
    left: 0;
    bottom: -81px;
    /* background: linear-gradient(11deg, rgb(229 229 229) 42.421869%, rgb(26 26 26) 24.421869%, rgb(26 26 26) 119.352277%); */
    transform: skewy(10deg);
  }

  .gurantee-box {
    padding: 100px 0 50px 0;
  }

  .imgtxt-box2 {
    padding: 45px 0 0 0;
    text-align: center;
  }

  .qa-box .text-center h2 {
    font-size: 20px !important;
    line-height: 24px !important;
    text-align: center;
    color: #333333;
    text-transform: capitalize;
  }

  .qa-box .text-center h2 span {
    display: block;
  }

  .imgtxt-box2 .text-block h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #9F9F9F;
    margin: 0;
  }

  .imgtxt-box2 .text-block h3 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: 36px;
    line-height: 38px;
    text-transform: uppercase;
    color: #1A1A1A;
    margin: 0;
  }

  .imgtxt-box2 .text-block p {
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #333333;
    margin: 20px 0;
    text-align: left;
    padding: 0 10px;
  }


  .motive-box2 {
    background: url(../images/titan-images/motive-Union.png) no-repeat top center / contain;
    padding: 140px 0px 34px 0px !important;
    background-color: #1a1a1a;
    text-align: center;
    position: relative;
  }

  .motive-box2 .motive-block {
    position: relative;
    z-index: 99999;
  }

  .motive-box2::after {
    content: '';
    position: absolute;
    width: 100%;
    background: #e5e5e5;
    height: 139px;
    left: 0;
    bottom: -86px;
    /* background: linear-gradient(11deg, rgb(229 229 229) 42.421869%, rgb(26 26 26) 24.421869%, rgb(26 26 26) 119.352277%); */
    transform: skewy(8deg);
}

  .motive-box2 h2 {
    font-family: 'gothambold';
    font-style: italic;
    font-weight: 700;
    font-size: 26px !important;
    line-height: 36px !important;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }





  .motive-box2 p {
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
  }

  .motive-box2 h3 {
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.39px;
    text-align: center;
    color: #FFFFFF;
    margin: 15px 0;
  }


  .motive-box2 img.img-fluid {
    width: 150px;
  }

  .motive-box2 img.img-fluid.bdg {
    width: 126px;
    height: auto;
    position: absolute;
    right: 0;
    top: 0;
  }

  .ban-boot p {
    font-family: 'Assistant', sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #1A1A1A;
    margin: 19px 0 0 0;
  }

  .mob-btn a.banner-button {
    padding: 20px 35px;
    font-size: 19px;
    line-height: 20px;
    width: auto;
    margin-top: 30px;
  }

  .mob-btn a.banner-button::after {
    transform: rotate(0deg);
    background-image: url(../images/titan-images/image-19.png);
    width: 77.03px !important;
    height: 83.55px !important;
    right: -81px !important;
    top: -38px !important;
  }

  .ban-boot {
    text-align: center;
    display: block;
    padding: 25px 40px;
  }

  .ban-boot h2 {
    font-family: 'gothambold';
    font-style: normal;
    font-size: 24.637px;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #1A1A1A;
    position: relative;
    margin-bottom: 15px;
  }

  .ban-boot h2::after {
    content: '';
    position: absolute;
    width: 279.58px;
    max-width: 100%;
    height: 5.81px;
    left: 0;
    top: 21px;
    background: #B02F53A6;
    transform: skew(335deg, 0deg);
    right: 0;
    margin: auto;
  }

  .ban-boot a.banner-button {
    width: auto;
  }

  .ban-boot .button-block {
    margin-bottom: 20px;
  }

  .ban-boot h2 span {
    text-transform: capitalize;
    font-size: 16px;
  }

  .ban-boot ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .ban-boot ul li {
    background-image: url(../images/li-Rectangle65.png);
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: top 4px left;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #333333;
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: left;
  }

  .dela-hoya h2 {
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    background: #1A1A1A;
    padding: 20px 10px;
  }

  .dela-hoya h2 span {
    color: #ffffff;
    font-size: 40px;
    line-height: 48px;
  }

  section.dela-hoya {
    padding: 0 0;
    background-color: #C4C4C4;
  }

  .dela-hoya img.img-fluid {
    width: 100%;
  }

  .dela-hoya .col-md-10 {
    padding: 0;
  }

  .dela-hoya .image-bg {
    display: block;
  }

  .dela-hoya .image-bg {
    display: block;
    background-image: none;
  }

  /* .dela-hoya .text-block {
    padding: 24px 30px;
  } */

  .ban-boot.mob-btn a.banner-button {
    margin-top: 0 !important;
  }

  .rating-box {
    display: none !important;
  }

  section.formula-box ul li.desktop-none {
    display: block;
  }

  .banner-main .banneroffer_tag {
    right: 0;
  }

  footer .bottom-bar ul.for-mob li {
    margin: auto;
  }

  .gurantee-box h3 span {
    color: #B02F53
  }

  .banner-right .button-block {
    width: 100%;
  }

  .banner-main .banneroffertagbg {
    width: auto;
    padding: 5px 17px;
    margin-bottom: 25px;
  }

  .banner-main .tag_save {
    font-size: 24px;
    line-height: 29px;
  }

  .banner-main h1 span:nth-child(1) {
    display: block;
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
  }

  .banner-main h1 {

    font-size: 20px;
    line-height: 24px;

  }

  .banner-main h1 span:nth-child(2) {
    /* font-size: 18px;
  line-height: 24px; */
    text-transform: uppercase;
  }

  .banner-main .banner-left {
    text-align: center;
  }

  /* .banner-main .banner-left img.img-fluid {
  height: 387px;
  width: auto;
} */
  .banner-main {
    background-size: contain;
    background-position: center top;
  }

  .banner-main .banner-right h3 {
    font-size: 25px;
    line-height: 30px;
  }

  .banner-main .banner-right .rating-box img {
    width: 138px;
  }

  .banner-main .banner-right .rating-box {
    font-size: 21px;
  }

  .banner-main .banner-right ul li {
    font-size: 22px;
    line-height: 29px;
  }

  .banner-main .banner-right ul li {
    font-size: 22px;
    line-height: 28px;
    padding: 0 0 11px 40px;
    background-size: 23px auto;
  }

  .banner-main .banner-right h4 {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
  }

  .banner-main a.banner-button {
    /* padding: 12px 0;
    font-size: 20px;
    line-height: 25px; */
    width: 268px;
    margin: 13px auto;
  }

  .banner-main .banner-rightbot p {
    font-size: 16px;
    line-height: 21px;
    padding: 0;
  }

  .banner-main .banner-rightbot img {
    width: 87px;
    margin-right: 10px;
  }

  .banner-main .banner-rightbot {
    display: flex;
    justify-content: space-around;
    min-height: 87px;
    align-items: center;
  }

  .imgtxt-box .row:nth-child(even) {
    flex-direction: column;
  }

  .imgtxt-box .row:nth-child(odd) {
    flex-direction: column;
  }

  .imgtxt-box .image-block {
    min-height: 360px;
    background-position: top center;
    background-size: cover;
  }

  .imgtxt-box .text-block {
    min-height: auto
  }

  .imgtxt-box .text-block h2 {
    font-size: 42px;
    line-height: 42px;
  }

  .gurantee-box .gurantee-block h2 {
    text-align: left;
  }

  .gurantee-box .gurantee-block p {
    text-align: left;
  }

  .imgtxt-box .text-block h3 {
    font-size: 22px;
    line-height: 28px;
  }

  .imgtxt-box .text-block p {
    font-size: 20px;
    line-height: 26px;
  }

  .imgtxt-box .container-xxl .row:nth-child(odd) .text-block {
    padding: 60px 20px 20px 19px;
  }

  .imgtxt-box .container-xxl .row:nth-child(even) .text-block {
    padding: 60px 19px 20px 20px;
  }

  section.formula-box h3 {
    line-height: 34px;
    text-align: center;
  }

  section.formula-box ul {
    width: 100%;
    float: none;
  }

  .imgtxt-box .box {
    left: -40px !important;
    height: 3px !important;
  }

  section.formula-box ul li {
    background-position: top 10px left;
    margin-bottom: 5px;
  }

  section.formula-box h4 {
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    text-align: center;
  }

  .button-block a.banner-button::after {
    bottom: 20px !important;
    /* right: -38px !important; */
    width: 35.79px;
    height: 67.64px;
  }

  .button-block {
    width: auto;
    display: inline-block;
    margin: 0;
  }

  /* 
  a.banner-button {
    padding: 15px 25px;
    font-size: 19px;
    line-height: 20px;
  } */

  .gurantee-box h3 {
    font-size: 48px;
    line-height: 49px;
    margin: 0 0 33px 0;
  }

  .street-box h2 {
    font-size: 36px;
    line-height: 42px;
  }

  /* .street-box h2 span{ font-size: 24px;
  line-height: 26px;font-style: normal !important;} */
  .street-box .revRght img {
    width: 177px;
  }

  .street-box .revRght h3 {
    font-size: 24px;
    line-height: 27px;
  }

  .street-box .revRght p {
    font-size: 17px;
    line-height: 24px;
  }

  .street-box .revInr {
    padding: 20px;
    min-height: auto;
    align-items: center;
  }

  .motive-box h2 {
    font-size: 50px;
    line-height: 50px;
  }

  .motive-box h3 {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 85px !important;
    margin-top: 30px;
  }

  .motive-box .motive-block p {
    font-size: 20px;
    line-height: 27px;
  }

  .motive-box .motive-block {
    min-height: auto;
    padding: 85px 5px 27px 12px;
  }

  .motive-box .button-block h5 {
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #333333;
    margin: 7px 0;
    display: block;
  }

  .motive-box .button-block h4 {
    display: none;
  }

  .motive-box .button-block blockquote {
    display: none;
  }

  .motive-box .btn-opt2::before {
    display: none;
  }

  .motive-box .btn-opt2::after {
    display: block;
  }

  section.satisfaction-box {
    padding: 0;
    background: #1a1a1a;
  }

  .motive-box {
    padding: 50px 0 120px;
  }

  .satisfaction-box .satinr .satinrLeft {
    width: 180px;
    position: absolute;
    top: -79px;
    left: 0;
    right: 0;
    margin: auto;
  }

  section.satisfaction-box {
    position: relative;
  }

  .satisfaction-box .satinr .satinrRght {
    padding-left: 0;
    width: 100%;
    text-align: center;
  }

  .satisfaction-box .satinr {
    padding: 120px 0 40px;
  }

  .satisfaction-box .satinr .satinrRght h3 {
    margin-bottom: 20px;
    text-align: left;
  }

  .satisfaction-box .satinr .satinrRght p {
    text-align: left;
  }

  .qa-box div#accordionFlushExample {
    padding: 0 60px;
  }

  .qa-box .btn-opt2::before {
    display: none;
  }

  .qa-box .btn-opt2::after {
    display: block;
    right: -51px !important;
  }

  .qa-box .button-block h5 {
    font-family: 'Assistant', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #333333;
    margin: 20px 0 20px 0;
    display: block;
  }

  .qa-box .button-block h4 {
    display: none;
  }

  .motive-box .motive-block img {
    border: 4px solid #1a1a1a;
  }

  .qa-box .button-block blockquote {
    display: none;
  }

  footer .text-block {
    border-top: none;
  }

  footer .bottom-bar ul.for-desk {
    display: none;
  }

  footer .bottom-bar ul.for-mob {
    list-style: none;
    padding: 0;
    display: inline-block;
    text-align: center;
    width: 100%;
  }

  footer .bottom-bar ul.for-mob li {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    margin-bottom: 10px;
  }

  footer .bottom-bar ul.for-mob .ftrlogo p {
    font-family: 'Assistant', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15.0728px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #333333;
  }

  footer .bottom-bar ul.for-mob .ftrlogo img {
    max-width: 344px;
    width: 100%;
    margin-bottom: 10px;
  }

  .bottom-bar ul.for-mob .ftrNewinnr input.form-control {
    font-size: 15px;
    padding: 0.675rem 0.75rem;
  }

  .bottom-bar ul.for-mob li:nth-child(3) p {
    font-size: 13px;
    line-height: 17px;
    margin-top: 10px;
  }

  footer .bottom-bar {
    padding: 30px 0 10px;
    border-top: 1px solid #C4C4C4;
    margin-top: 20px;
  }

  footer .bottom-bar ul.for-mob li:nth-child(3) p {
    width: 100%;
  }

  /* a.banner-button {
  padding: 15px;
  font-size: 15px;
  line-height: 19px;
  width: 270px;
} */
  .formula-box .button-block a.banner-button::before {
    display: none;
  }

  .formula-box .button-block a.banner-button::after {
    display: block !important;
  }

  .imgtxt-box .image-block .title {
    font-size: 17.67px;
    line-height: 20px;
  }

  .order_sections .title span {
    color: #B02F53;
  }

  .prostarprice {
    font-size: 28px !important;
    line-height: 24px !important;
  }

  .buy_btn {
    padding: 14px 40px !important;
  }

}

@media screen and (max-width:400px) {
  .imgtxt-box .text-block h2 {
    font-size: 35px;
  }

  .imgtxt-box .text-block h2 span {
    display: block;
  }

  .qa-box button.accordion-button {
    font-size: 20px !important;
    line-height: 26px !important;
  }

  .qa-box .an-new-stl {
    margin-top: 0;
  }

  .qa-box .text-center h2 span {
    display: block;
  }

  .gurantee-box h3 {
    font-size: 43px;
    line-height: 46px;
  }

  .imgtxt-box .image-block .title {
    margin-bottom: 0;
  }

  .qa-box a.banner-button {
    width: auto;
  }

  .motive-box h2 {
    margin-bottom: 15px;
  }

  .order_sections .nav-pills li button {
    font-size: 12px;
  }

  .banner-main .banner-right h3 {
    font-size: 25px;
    line-height: 30px;
  }

  .banner-right .button-block {
    width: 100%;
  }

  .banner-main .banner-right h4 {
    font-size: 17px;
    line-height: 17px;
  }

  .banner-main .banner-right ul li {
    font-size: 21px;
    line-height: 25px;
  }

  .imgtxt-box .image-block {
    min-height: 285px;
  }

  .imgtxt-box .container-fluid .row:nth-child(odd) .text-block {
    padding: 65px 0 40px 0 !important;
  }

  .imgtxt-box .container-fluid .row:nth-child(even) .text-block {
    padding: 65px 0 40px 0 !important;
  }

  .formula-box a.banner-button {
    width: auto;
  }

  .gurantee-box .gurantee-block h2 span {
    display: block;
  }

  .gurantee-box a.banner-button {
    width: auto;
  }



  .street-box .revRght h3 {
    font-size: 20px;
    line-height: 25px;
  }

  .street-box .revRght p {
    font-size: 15px;
    line-height: 22px;
  }

  .motive-box h2 span {
    display: block;
  }

  .motive-box {
    padding: 50px 0 95px;
  }

  .motive-box .motive-block p {
    font-size: 21px;
    line-height: 28px;
  }

  .motive-box .motive-block {
    min-height: auto;
    padding: 85px 27px 27px 23px;
  }

  .satisfaction-box a.banner-button {
    width: auto;
  }

  .satisfaction-box a.banner-button span {
    display: none;
  }

  .motive-box a.banner-button {
    width: auto;
  }

  /* .order_sections .title {
    margin: 26px 0 10px 0;
    font-size: 40px;
    line-height: 44px;
} */
  .order_sections .title {
    margin: 26px 0 10px 0 !important;
    font-size: 37px !important;
    line-height: 44px !important;
  }

  .order_sections .title span {
    display: inline;
  }

  .order_sections .title span a {
    display: inline;
  }

  .order_sections .title span {
    color: #B02F53;
    display: block;
  }

  .street-box .revRght img {
    width: 150px;
  }


  footer .bottom-bar ul.for-mob li {
    width: 85%;
    margin: 0 auto;
  }

  .qa-box div#accordionFlushExample {
    padding: 0 20px;
  }


}

@media screen and (max-width:380px) {
  /* .street-box .revInr {
    flex-direction: column;
  }

  .street-box .revRght {
    padding-left: 0;
    width: 100%;
  } */

  .motive-box h3 {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 50px;
    margin-top: 10px;
  }

}