@font-face {
    font-family: 'gothamblack';
    src: url('../fonts/gotham-black-webfont.woff2') format('woff2'),
      url('../fonts/gotham-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'gothambold';
    src: url('../fonts/gothambold-webfont.woff2') format('woff2'),
      url('../fonts/gothambold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'gothambold_italic';
    src: url('../fonts/gothambolditalic-webfont.woff2') format('woff2'),
      url('../fonts/gothambolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'gothambook';
    src: url('../fonts/gothambook-webfont.woff2') format('woff2'),
      url('../fonts/gothambook-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'gothambook_italic';
    src: url('../fonts/gothambookitalic-webfont.woff2') format('woff2'),
      url('../fonts/gothambookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'gothamlight';
    src: url('../fonts/gothamlight-webfont.woff2') format('woff2'),
      url('../fonts/gothamlight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'gothamlight_italic';
    src: url('../fonts/gothamlightitalic-webfont.woff2') format('woff2'),
      url('../fonts/gothamlightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'gothammedium';
    src: url('../fonts/gothammedium-webfont.woff2') format('woff2'),
      url('../fonts/gothammedium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  
  
  
  @font-face {
    font-family: 'gothamregular';
    src: url('../fonts/gotham_regular-webfont.woff2') format('woff2'),
      url('../fonts/gotham_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  

.table_secionsblack {
    background: url('../images/black-pattern-bg.jpeg') no-repeat top center/cover;
    padding: 60px 0 0
}

.table_secionsblack .sec8Rw1 h2 {
    text-transform: uppercase;
    color: #fff;
    font-size: 48px
}

.table_secionsblack .sec8Rw1 p {
    font-size: 22px;
    color: #fff;
    margin-bottom: 20px
}

.table_secionsblack .compTxt p {
    font-size: 28px !important
}

.table_secionsblack .masrow {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-wrap: wrap;
    align-items: center
}

.table_secionsblack .compTxt {
    margin-bottom: 70px;
    margin-top: 20px;
    font-family: gotham
}

.table_secionsblack .masTable {
    padding-bottom: 50px
}

.table_secionsblack .masCol1 {
    flex: 0 0 auto;
    width: 40%;
    padding: 10px 30px
}

.table_secionsblack .masCol2,
.table_secionsblack .masCol3,
.table_secionsblack .masCol4 {
    flex: 0 0 auto;
    width: 20%;
    font-family: gothambold;
    padding: 10px 15px
}

.table_secionsblack .masCol2 {
    background: gray
}

.table_secionsblack .frstRw .masCol2 {
    border-radius: 15px 15px 0 0;
    padding: 32px 20px 40px
}

.table_secionsblack .frstRw .masCol2 p {
    color: #fff;
    font-family: gothambold_italic;
    font-size: 26px;
    text-transform: uppercase
}

.table_secionsblack .frstRw .masCol2 p em {
    font-style: normal;    color: #fff;
}

.table_secionsblack .frstRw .masCol3,
.table_secionsblack .frstRw .masCol4 {
    color: #fff;
    font-size: 18px
}

.table_secionsblack .frstRw .masCol3 p,
.table_secionsblack .frstRw .masCol4 p {    color: #fff;
    font-size: 18px;
    font-family: 'gothambold';
}

.table_secionsblack .masCol1 p {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-family: gothambold
}

.table_secionsblack .bgwhite {
    background-color: #fff
}

.table_secionsblack .bgwhite .masCol1 p {
    color: #141414
}

.table_secionsblack .lastRw .masCol2 {
    border-radius: 0 0 15px 15px;
    padding-bottom: 30px
}

.table_secionsblack .sec8ftr {
    color: #fff
}

.table_secionsblack .sec8ftr h3 {
    font-size: 48px;
    margin-bottom: 5px;
    font-family: gothambold_italic
}

.table_secionsblack .sec8ftr p {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 35px
}

.table_secionsblack .masTable p {
    margin-bottom: 0
}

.tick_white {
    width: 45px
}

.product_box {
    position: relative;
    background: #1a1a1a;
    padding: 50px 40px 30px;
    border-top: 9px solid #b02f53;
    border-bottom: 9px solid #b02f53
}

.protexth2 {
    font-family: Montserrat;
    font-size: 32px;
    font-style: italic;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0;
    text-align: center;
    color: #fff
}

.protexth3 {
    font-family: Assistant;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0;
    text-align: center;
    color: #fff
}

.protexth4 {
    font-family: montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 70px;
    text-align: center;
    color: #b02f53;
    margin: 0
}

.protexth5 {
    font-family: assistant;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    margin-bottom: 20px
}

.prostartext {
    font-family: assistant;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 0;
    margin-top: 15px
}

.prostartext img {
    width: 110px;
    display: inline;
    margin-right: 4px
}

.prostarprice {
    margin: 15px 0 10px;
    font-family: montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 24px;
    color: #fff
}

.prostarprice del {
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    color: #fff
}

.prostarprice small {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #fff
}

.prostarsave {
    font-family: montserrat;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #63a197
}

.buy_btn {
    width: auto;
    display: inline-block;
    padding: 15px 50px;
    margin-top: 0;
    font-size: 18px;
    font-family: montserrat;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    border-radius: 0;
    background: #b02f53;
    color: #fff;
    text-transform: uppercase
}

.buy_btn:hover {
    background: #4b4a4a;
    color: #fff
}

.packtag {
    font-family: assistant;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    letter-spacing: .05em;
    color: #fff;
    background: #b02f53;
    display: inline-block;
    padding: 5px 30px
}

.packtagholder {
    position: absolute;
    top: -24px;
    left: 0;
    width: 100%;
    text-align: center
}

.tab_product {
    margin-top: 60px
}

.order_sections .nav-pills {
    margin-bottom: 0 !important;
    display: inline-flex
}

.order_sections .nav-pills {
    margin: 0 auto;
    margin-top: 0;
    width: 504px;
    display: block;
    margin-top: 30px;
    background: #b02f53;
    border-radius: 50px;
    padding: 8px
}

.order_sections .nav-pills li {
    font-size: 20px;
    text-align: center;
    margin: 0;
    list-style: none;
    cursor: pointer;
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding: 0;
    text-transform: uppercase;
    overflow: hidden
}

.order_sections .nav-pills li button {
    display: block;
    width: 100%;
    border-radius: 50px;
    color: #fff;
    font-weight: 700
}

.sec8 .foot-h6 {
    font-family: gothambold;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #fff
}

.sec8 .foot-p {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 0 0 30px
}

.order_sections .nav-pills .nav-link.active,
.order_sections .nav-pills .show>.nav-link {
    color: #b02f53;
    background-color: #fff
}

.order_sections .title {
    font-family: montserrat, sans-serif;
    font-style: italic !important;
    font-weight: 700 !important;
    font-size: 46px;
    line-height: 49px;
    color: #333;
    text-transform: uppercase;
    margin: 0;
    text-align: center
}

.order_sections .title span a {
    display: inline;
    color: #333
}

@media screen and (max-width:1199px) {
    .table_secionsblack .masCol1 {
        padding: 10px 12px
    }

    .table_secionsblack .masCol1 p {
        font-size: 15px
    }

    .prostarprice {
        font-size: 18px
    }

    .prostarprice del {
        font-size: 16px
    }

    .buy_btn {
        padding: 10px 30px
    }

    .prostartext {
        text-align: center
    }

    .prostartext img {
        display: block;
        margin: 0 auto
    }

    .protexth4 {
        font-size: 36px;
        line-height: 50px
    }

    .protexth3 {
        font-size: 20px
    }

    .protexth2 {
        font-size: 28px;
        margin: 0
    }

    .protexth5 {
        font-size: 23px;
        line-height: 33px
    }
}

@media screen and (max-width:991px) {
    .table_secionsblack .frstRw .masCol2 p {
        font-size: 23px
    }

    .table_secionsblack .frstRw .masCol3,
    .table_secionsblack .frstRw .masCol4 {
        font-size: 14px
    }

    .table_secionsblack .masCol1 {
        padding: 10px 12px
    }

    .table_secionsblack .masCol1 p {
        font-size: 13px
    }

    .packtag {
        padding: 6px 20px;
        font-size: 20px
    }

    .packtagholder {
        top: -28px
    }

    .protexth4 {
        font-size: 30px
    }

    .product_box {
        padding: 40px 20px 30px
    }

    .prostarprice del {
        display: block
    }

    .prostarsave {
        font-size: 16px;
        line-height: 18px
    }
}

@media screen and (max-width:767px) {
    .tick_white {
        width: 20px;
    }
    .masrow .masCol3 img, .masrow .masCol4 img{
        height: 20px;
    }

    .table_secionsblack .frstRw .masCol2 p {
        font-size: 18px
    }

    .hide {
        display: none
    }

    .table_secionsblack .frstRw .masCol3,
    .table_secionsblack .frstRw .masCol4 {
        font-size: 12px
    }

    .table_secionsblack .masCol1 p {
        font-size: 8px;
    }
    .table_secionsblack .frstRw .masCol3 p, .table_secionsblack .frstRw .masCol4 p {
        font-size: 10px;}
    .product_box {
        margin-top: 40px;
        padding: 40px 30px 30px
    }
    .table_secionsblack .masCol2, .table_secionsblack .masCol3, .table_secionsblack .masCol4{     padding: 6px;}
    .table_secionsblack .frstRw .masCol2 {
        padding: 15px 20px 8px;
    }
    .prostarprice del {
        display: inline-block
    }

    .protexth4 {
        font-size: 44px;
        line-height: 60px
    }

    .no_tag .product_box {
        margin-top: 25px
    }

    .prostartext img {
        display: inline-block;
        margin: 0 auto;
        width: 100px
    }

    .prostartext {
        font-size: 13px;
        margin-top: 5px
    }

    .prostarprice {
        margin: 5px 0
    }

    .protexth3 {
        margin-bottom: 0
    }

    .order_sections .nav-pills {
        width: 95%
    }

    .order_sections .nav-pills li button {
        font-size: 14px;
        padding: 8px 6px
    }

    .tab_product {
        margin-top: 10px
    }

    .order_sections .nav-pills .nav-link.active,
    .order_sections .nav-pills .show>.nav-link {
        color: #000;
        background-color: #fff
    }

    .order_sections .title {
        margin: 26px 0 0
    }
}



@media screen and (max-width:600px) {
    .table_secionsblack .masCol2, .table_secionsblack .masCol3, .table_secionsblack .masCol4 {
        width: 17%;}
        .table_secionsblack .masCol1 {
            width: 49%;}
            .table_secionsblack .frstRw .masCol2 p {
                font-size: 10px;}
}
@media screen and (max-width:450px) {
.table_secionsblack .masCol1 {
    padding: 6px;
}
.table_secionsblack .frstRw .masCol3 p, .table_secionsblack .frstRw .masCol4 p {
    font-size: 8px;
    line-height: 9px;
}
.table_secionsblack .frstRw .masCol2 {
    padding: 15px 9px 13px;
}
.masrow .masCol3 img, .masrow .masCol4 img {
    height: 14px;
}
.tick_white {
    width: 14px;
}
}